@model HistoriaPersonalCormillot.ComeDiaTipicoYFinde
@{
    ViewBag.Title = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/ResponsiveGrid.css" rel="stylesheet" />
<link href="../../Content/CorreccionesBootstrap.css" rel="stylesheet" />
<script src="../../Scripts/FormulariosHelpers.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('input[type=checkbox]').css("cursor", "pointer");
    });
    function subirDatos() {
        postForm("saveComeDiaTipicoYFinde");
    }

    function guardarDatos() {
        postFormGuardar("saveComeDiaTipicoYFinde");
    }
    
    $(document).ready(function () {        
       setInterval(subirDatos, 5000);
    });

</script>
<style>
    .normal
    {
        font-weight:bold    
    }
    .borde
    {
        border-bottom:3px solid black;
        margin-bottom: 2%;
    }
   

</style>

<article>
    <label class="celeste titulo FontCormi" style="margin-top: 20px;width:95%">Por favor anote lo que come en un día tipo y fin de semana</label>
</article>

<form id="form">
    <section class="col_12" style="font-weight:700;margin-left:90px">
        <article class="col_12" >Todas las variantes posibles en cada momento del día, especificando las cantidades que come de cada alimento</article>
    </section>

    <section class="col_12 row-left">
        <section class="col_5" style="margin-left:180px">
            <article class="col_12" style="width:110%">
                <article class="col_2" style="width:20%">Desayuno</article>
                <article class="col_6" style="width:40%">
                    <article class="titulo-control col_2 normal" style="width:22%;margin-right:3px">Lugar</article>
                    <article class="col_10" style="width:76%"><input type="text" class="form-control" name="DesayunoLugar" value="@Model.DesayunoLugar" style="width:100%"/></article>
                </article>
                <article class="col_4">
                    <article class="titulo-control col_3 normal">Hora</article>
                    <article class="col_9"><input type="text" class="form-control" name="DesayunoHora" value="@Model.DesayunoHora" /></article>
                </article>
            </article>

            <section class="col_12">
                <article class="col_12 normal">Que y cuanto come</article>
                <textarea  class="col_12" rows="5" name="DesayunoQueYCuanto">@Model.DesayunoQueYCuanto</textarea>
            </section>
             <section class="col_12 borde">
                <article class="col_12 normal">Y fin de semana</article>
                 <textarea class="col_12" rows="5" name="DesayunoFinde" style="margin-bottom:2%">@Model.DesayunoFinde</textarea>
            </section>

            <article class="col_12" style="width:110%">
                <article class="col_2" style="width:20%">1/2Mañana</article>
                <article class="col_6" style="width:40%">
                    <article class="titulo-control col_2 normal" style="width:22%">Lugar</article>
                    <article class="col_10" style="width:76%"><input type="text" class="form-control" name="MediaMnianaLugar" value="@Model.MediaMnianaLugar" style="width:100%" /></article>
                </article>
                <article class="col_4">
                    <article class="titulo-control col_3 normal">Hora</article>
                    <article class="col_9"><input type="text" class="form-control" name="MediaManianaHora" value="@Model.MediaManianaHora" /></article>
                </article>
            </article>

            <section class="col_12">
                <article class="col_12 normal">Que y cuanto come</article>
                <textarea class="col_12" rows="5" name="MediaManianaQueyCuanto">@Model.MediaManianaQueyCuanto</textarea>
            </section>
             <section class="col_12">
                <article class="col_12 normal">Y fin de semana</article>
                 <textarea class="col_12"  rows="5" name="MediaManianaFinde">@Model.MediaManianaFinde</textarea>
            </section>
        </section>

        <section class="col_5" style="margin-left:18%">
            <article class="col_12" style="width:110%">
                <article class="col_2">Almuerzo</article>
                <article class="col_6" style="width:44%">
                    <article class="titulo-control col_2 normal" style="width:22%">Lugar</article>
                    <article class="col_10" style="width:76%"><input type="text" class="form-control" name="AlmuerzoLugar" value="@Model.AlmuerzoLugar" style="width:100%" /></article>
                </article>
                <article class="col_4">
                    <article class="titulo-control col_3 normal">Hora</article>
                    <article class="col_9"><input type="text" class="form-control" name="AlmuerzoHora" value="@Model.AlmuerzoHora" /></article>
                </article>
            </article>

            <section class="col_12">
                <article class="col_12 normal">Que y cuanto come</article>
                <textarea class="col_12" rows="5" name="AlmuerzoQueYcuanto">@Model.AlmuerzoQueYcuanto</textarea>
            </section>
             <section class="col_12 borde">
                <article class="col_12 normal">Y fin de semana</article>
                 <textarea class="col_12"rows="5" name="AlmuerzoFinde" style="margin-bottom:2%">@Model.AlmuerzoFinde</textarea>
            </section>

            <article class="col_12" style="width:110%">
                <article class="col_2">Merienda</article>
                <article class="col_6" style="width:44%">
                    <article class="titulo-control col_2 normal" style="width:22%">Lugar</article>
                    <article class="col_10" style="width:76%"><input type="text" class="form-control" name="MeriendaLugar" value="@Model.MeriendaLugar" style="width:100%"/></article>
                </article>
                <article class="col_4">
                    <article class="titulo-control col_3 normal">Hora</article>
                    <article class="col_9"><input type="text" class="form-control" name="MeriendaHora" value="@Model.MeriendaHora" /></article>
                </article>
            </article>

            <section class="col_12">
                <article class="col_12 normal">Que y cuanto come</article>
                <textarea class="col_12"  rows="5" name="MeriendaQueYCuanto">@Model.MeriendaQueYCuanto</textarea>
            </section>
             <section class="col_12">
                <article class="col_12 normal">Y fin de semana</article>
                 <textarea class="col_12"  rows="5" name="MeriendaFinde">@Model.MeriendaFinde</textarea>
            </section>
        </section>
        </section>
    </section>

</form>

<div class="container-botones-inferiores" style="width:100%;float:left">
    @Html.ActionLink("Anterior", "AnteriorPaso", "Pasos", new { id = ViewBag.Pagina }, new { @class = "btn btn-info", onclick="javascript:subirDatos();" })
    <label style="font-family:monospace;font-size:smaller">
        Pagina 13 de 18
    </label>
    @Html.ActionLink("Siguiente", "ProximoPaso", "Pasos", new { id = ViewBag.Pagina }, new { @class = "btn btn-info", onclick = "javascript:subirDatos();" })
</div>