
@model HistoriaPersonalCormillot.ViewModels.Habitos2AllegadosViewModel
@{
    ViewBag.Title = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ResponsiveGrid.css" rel="stylesheet" />
<link href="../../Content/CorreccionesBootstrap.css" rel="stylesheet" />
<script src="../../Scripts/FormulariosHelpers.js" type="text/javascript"></script>
<script>
    function subirDatos() {
        postForm("SaveSusAllegadosSuRelacionConLaComida");
    }

    function guardarDatos() {
        postFormGuardar("SaveSusAllegadosSuRelacionConLaComida");
    }

    $(document).ready(function () {
        setInterval(subirDatos, 5000);
    });



</script>
<style>
    .table > thead:first-child > tr:first-child > th {
        padding-bottom: 0;
    }
    .center-table
    {
        padding-left: 17% !important;
    }
    
    .table>tbody>tr.separador-inferior>td
    {
        border-bottom: 2px solid black;
    }
    
    .table>tbody>tr>td:first-child
    {
        text-align: left;
    }
    
    .table>tbody>tr>td:first-child input
    {
        float: right;
        min-width: 100px;
        width: 60%;
    }
    .normal
    {
        font-weight:normal;
    }
      .table>tbody>tr>td.margen
    {
       padding-left:6px;
    }
    .table>tbody>tr>td.normalmargen {
        font-weight:normal;
        padding-left:6px;
        font-weight:bold;

    }


</style>

<article>
    <h2 class="celeste titulo FontCormi" style="margin-top: 50px;margin-bottom:10px;">Sus allegados</h2>
</article>

<form id="form">
    <div id="pag2">
        <form id="form">
            <label style="margin-left:150px;margin-bottom:10px">36.La actitud de quienes lo redean hacia su tratamiento es positiva(+) o negativa(-)</label>

            <div class="table-responsive" style="margin-left:175px">
                <table class="table" style="text-transform:capitalize !important;width:78%;border:3px solid">
                    <thead>
                        <tr>
                            <th></th>
                            <th>padres</th>
                            <th>hermanos</th>
                            <th>cónyuge</th>
                            <th>hijos</th>
                            <th>amigos</th>
                            <th style="width:15%">compañeros</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="margen" style="width:26%">apoyo</td>
                            <td><input class="ml" @(Model.habitos2.ActitudPadres == "apoyo" ? "checked = checked" : "") value="apoyo" name="habitos2.ActitudPadres" type="radio" /> </td>
                            <td><input class="ml" @(Model.habitos2.ActitudHermanos == "apoyo" ? "checked = checked" : "") value="apoyo" name="habitos2.ActitudHermanos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudConyuge == "apoyo" ? "checked = checked" : "") value="apoyo" name="habitos2.ActitudConyuge" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudHijos == "apoyo" ? "checked = checked" : "") value="apoyo" name="habitos2.ActitudHijos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudAmigos == "apoyo" ? "checked = checked" : "") value="apoyo" name="habitos2.ActitudAmigos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudCompañeros == "apoyo" ? "checked = checked" : "") value="apoyo" name="habitos2.ActitudCompañeros" type="radio" /></td>

                        </tr>

                        <tr>
                            <td class="margen">se opone</td>
                            <td><input class="ml" @(Model.habitos2.ActitudPadres == "se opone" ? "checked = checked" : "") value="se opone" name="habitos2.ActitudPadres" type="radio" /> </td>
                            <td><input class="ml" @(Model.habitos2.ActitudHermanos == "se opone" ? "checked = checked" : "") value="se opone" name="habitos2.ActitudHermanos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudConyuge == "se opone" ? "checked = checked" : "") value="se opone" name="habitos2.ActitudConyuge" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudHijos == "se opone" ? "checked = checked" : "") value="se opone" name="habitos2.ActitudHijos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudAmigos == "se opone" ? "checked = checked" : "") value="se opone" name="habitos2.ActitudAmigos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudCompañeros == "se opone" ? "checked = checked" : "") value="se opone" name="habitos2.ActitudCompañeros" type="radio" /></td>
                        </tr>

                        <tr>
                            <td class="margen">indiferente</td>
                            <td><input class="ml" @(Model.habitos2.ActitudPadres == "indiferente" ? "checked = checked" : "") value="indiferente" name="habitos2.ActitudPadres" type="radio" /> </td>
                            <td><input class="ml" @(Model.habitos2.ActitudHermanos == "indiferente" ? "checked = checked" : "") value="indiferente" name="habitos2.ActitudHermanos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudConyuge == "indiferente" ? "checked = checked" : "") value="indiferente" name="habitos2.ActitudConyuge" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudHijos == "indiferente" ? "checked = checked" : "") value="indiferente" name="habitos2.ActitudHijos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudAmigos == "indiferente" ? "checked = checked" : "") value="indiferente" name="habitos2.ActitudAmigos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudCompañeros == "indiferente" ? "checked = checked" : "") value="indiferente" name="habitos2.ActitudCompañeros" type="radio" /></td>
                        </tr>

                        <tr>
                            <td class="margen"> variable</td>
                            <td><input class="ml" @(Model.habitos2.ActitudPadres == "variable" ? "checked = checked" : "") value="variable" name="habitos2.ActitudPadres" type="radio" /> </td>
                            <td><input class="ml" @(Model.habitos2.ActitudHermanos == "variable" ? "checked = checked" : "") value="variable" name="habitos2.ActitudHermanos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudConyuge == "variable" ? "checked = checked" : "") value="variable" name="habitos2.ActitudConyuge" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudHijos == "variable" ? "checked = checked" : "") value="variable" name="habitos2.ActitudHijos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudAmigos == "variable" ? "checked = checked" : "") value="variable" name="habitos2.ActitudAmigos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudCompañeros == "variable" ? "checked = checked" : "") value="variable" name="habitos2.ActitudCompañeros" type="radio" /></td>
                        </tr>
                        <tr>
                            <td class="margen">mucha presion</td>
                            <td><input class="ml" @(Model.habitos2.ActitudPadres == "mucha presion" ? "checked = checked" : "") value="mucha presion" name="habitos2.ActitudPadres" type="radio" /> </td>
                            <td><input class="ml" @(Model.habitos2.ActitudHermanos == "mucha presion" ? "checked = checked" : "") value="mucha presion" name="habitos2.ActitudHermanos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudConyuge == "mucha presion" ? "checked = checked" : "") value="mucha presion" name="habitos2.ActitudConyuge" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudHijos == "mucha presion" ? "checked = checked" : "") value="mucha presion" name="habitos2.ActitudHijos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudAmigos == "mucha presion" ? "checked = checked" : "") value="mucha presion" name="habitos2.ActitudAmigos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.ActitudCompañeros == "mucha presion" ? "checked = checked" : "") value="mucha presion" name="habitos2.ActitudCompañeros" type="radio" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <label style="margin-left:150px;margin-bottom:10px">37.Cómo se lleva con</label>
            <div class="table-responsive" style="margin-left:175px">
                <table class="table" style="text-transform:capitalize !important;width:78%;border:3px solid">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="width:18%">muy bien</th>
                            <th>bien</th>
                            <th style="width:19%">más o menos</th>
                            <th>mal</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="margen" style="width:26%">hijos</td>
                            <td><input class="ml" @(Model.habitos2.RelacionHijos == "muy bien" ? "checked = checked" : "") name="habitos2.RelacionHijos" value="muy bien" type="radio" /> </td>
                            <td><input class="ml" @(Model.habitos2.RelacionHijos == "bien" ? "checked = checked" : "") name="habitos2.RelacionHijos" value="bien" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.RelacionHijos == "mas o menos" ? "checked = checked" : "") name="habitos2.RelacionHijos" value="mas o menos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.RelacionHijos == "mal" ? "checked = checked" : "") name="habitos2.RelacionHijos" value="mal" type="radio" /></td>
                        </tr>

                        <tr>
                            <td class="margen">amigos</td>
                            <td><input class="ml" @(Model.habitos2.RelacionAmigos == "muy bien" ? "checked = checked" : "") name="habitos2.RelacionAmigos" value="muy bien" type="radio" /> </td>
                            <td><input class="ml" @(Model.habitos2.RelacionAmigos == "bien" ? "checked = checked" : "") name="habitos2.RelacionAmigos" value="bien" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.RelacionAmigos == "mas o menos" ? "checked = checked" : "") name="habitos2.RelacionAmigos" value="mas o menos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.RelacionAmigos == "mal" ? "checked = checked" : "") name="habitos2.RelacionAmigos" value="mal" type="radio" /></td>
                        </tr>

                        <tr>
                            <td class="margen">pareja</td>
                            <td><input class="ml" @(Model.habitos2.RelacionPareja == "muy bien" ? "checked = checked" : "") name="habitos2.RelacionPareja" value="muy bien" type="radio" /> </td>
                            <td><input class="ml" @(Model.habitos2.RelacionPareja == "bien" ? "checked = checked" : "") name="habitos2.RelacionPareja" value="bien" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.RelacionPareja == "mas o menos" ? "checked = checked" : "") name="habitos2.RelacionPareja" value="mas o menos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.RelacionPareja == "mal" ? "checked = checked" : "") name="habitos2.RelacionPareja" value="mal" type="radio" /></td>
                        </tr>

                        <tr>
                            <td class="margen"> familia</td>
                            <td><input class="ml" @(Model.habitos2.RelacionFamilia == "muy bien" ? "checked = checked" : "") name="habitos2.RelacionFamilia" value="muy bien" type="radio" /> </td>
                            <td><input class="ml" @(Model.habitos2.RelacionFamilia == "bien" ? "checked = checked" : "") name="habitos2.RelacionFamilia" value="bien" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.RelacionFamilia == "mas o menos" ? "checked = checked" : "") name="habitos2.RelacionFamilia" value="mas o menos" type="radio" /></td>
                            <td><input class="ml" @(Model.habitos2.RelacionFamilia == "mal" ? "checked = checked" : "") name="habitos2.RelacionFamilia" value="mal" type="radio" /></td>
                        </tr>
                        <tr>
                <td class="margen">compañeros de trabajo</td>
                <td><input class="ml" @(Model.habitos2.RelacionCompañerosTrabajo == "muy bien" ? "checked=checked" : "") name="habitos2.RelacionCompañerosTrabajo" value="muy bien" type="radio" /> </td>
                <td><input class="ml" @(Model.habitos2.RelacionCompañerosTrabajo == "bien" ? "checked=checked" : "") name="habitos2.RelacionCompañerosTrabajo" value="bien" type="radio" /></td>
                <td><input class="ml" @(Model.habitos2.RelacionCompañerosTrabajo == "mas o menos" ? "checked=checked" : "") name="habitos2.RelacionCompañerosTrabajo" value="mas o menos" type="radio" /></td>
                <td><input class="ml" @(Model.habitos2.RelacionCompañerosTrabajo == "mal" ? "checked=checked" : "") name="habitos2.RelacionCompañerosTrabajo" value="mal" type="radio" /></td>
</tr>
               </tbody>
            </table>
        </div>



            <section class="col_12 row-left">
                <article class="col_12 titulo-control" style="margin-top:15px">38. De las personas con las cuales convive, ¿cuantas tiene:</article>
                <article class="col_1 titulo-control" style="width:10%">Peso normal?</article>
                <article class="col_1"style="width:12%"><input type="text" class="form-control" name="allegadosrelcom.CantPesoNormal" value="@Model.allegadosrelcom.CantPesoNormal" /></article>
                <article class="col_1 titulo-control" style="width:10%">¿Quiénes?</article>
                <article class="col_9" style="width:50%"><input type="text" class="form-control" name="allegadosrelcom.TienenPesoNormal" value="@Model.allegadosrelcom.TienenPesoNormal" /></article>
            </section>
            <section class="col_12 row-left" style="margin-bottom:10px">
                <article class="col_1 titulo-control" style="width:10%">Sobrepeso?</article>
                <article class="col_1" style="width:12%"><input type="text" class="form-control" name="allegadosrelcom.CantSobrepeso" value="@Model.allegadosrelcom.CantSobrepeso" /></article>
                <article class="col_1 titulo-control" style="width:10%">¿Quiénes?</article>
                <article class="col_9" style="width:50%"><input type="text" class="form-control" name="allegadosrelcom.TienenSobrepeso" value="@Model.allegadosrelcom.TienenSobrepeso" /></article>
            </section>
            <article>
                <h2 class="celeste titulo FontCormi" style="margin-top: 50px;margin-bottom:10px;">Su relación con la comida</h2>
            </article>



            <section class="col_12 row-left">
                <article class="col_12 titulo-control" style="margin-bottom:15px">39. Seleccione la opcion correcta</article>
            </section>

            <section class="col_11 row-left">
                <table class="table" style="text-align:left; border:3px solid">
                    <thead>
                    <th></th>
                    <th>NUNCA</th>
                    <th>A VECES</th>
                    <th>USUALMENTE</th>
                    <th>SIEMPRE</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="normalmargen">¿Tiene mucho apetito o urgencia de comer algo?</td>
                            <td><input type="radio" name="allegadosrelcom.RadioUrgenciaDeComer" value="NUNCA" @(Model.allegadosrelcom.RadioUrgenciaDeComer == "NUNCA" ? "checked=checked" : "") /> </td>
                            <td><input type="radio" name="allegadosrelcom.RadioUrgenciaDeComer" value="A VECES" @(Model.allegadosrelcom.RadioUrgenciaDeComer == "A VECES" ? "checked=checked" : "") /> </td>
                            <td><input type="radio" name="allegadosrelcom.RadioUrgenciaDeComer" value="USUALMENTE" @(Model.allegadosrelcom.RadioUrgenciaDeComer == "USUALMENTE" ? "checked=checked" : "") /> </td>
                            <td><input type="radio" name="allegadosrelcom.RadioUrgenciaDeComer" value="SIEMPRE" @(Model.allegadosrelcom.RadioUrgenciaDeComer == "SIEMPRE" ? "checked=checked" : "") /> </td>
                        </tr>
                        <tr>
                            <td class="normalmargen">¿Come cuándo se levanta de noche?</td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeDeNoche" value="NUNCA" @(Model.allegadosrelcom.RadioComeDeNoche == "NUNCA" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeDeNoche" value="A VECES" @(Model.allegadosrelcom.RadioComeDeNoche == "A VECES" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeDeNoche" value="USUALMENTE" @(Model.allegadosrelcom.RadioComeDeNoche == "USUALMENTE" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeDeNoche" value="SIEMPRE" @(Model.allegadosrelcom.RadioComeDeNoche == "SIEMPRE" ? "checked=checked" : "") /></td>
                        </tr>
                        <tr>
                            <td class="normalmargen">¿Necesita comer para volver a dormir?</td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeParaDormir" value="NUNCA" @(Model.allegadosrelcom.RadioComeParaDormir == "NUNCA" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeParaDormir" value="A VECES" @(Model.allegadosrelcom.RadioComeParaDormir == "A VECES" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeParaDormir" value="USUALMENTE" @(Model.allegadosrelcom.RadioComeParaDormir == "USUALMENTE" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeParaDormir" value="SIEMPRE" @(Model.allegadosrelcom.RadioComeParaDormir == "SIEMPRE" ? "checked=checked" : "") /></td>
                        </tr>
                        <tr class="separador-inferior">
                            <td class="normalmargen">Si come de noche, ¿lo hace sin control?</td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeSinControl" value="NUNCA" @(Model.allegadosrelcom.RadioComeSinControl == "NUNCA" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeSinControl" value="A VECES" @(Model.allegadosrelcom.RadioComeSinControl == "A VECES" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeSinControl" value="USUALMENTE" @(Model.allegadosrelcom.RadioComeSinControl == "USUALMENTE" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioComeSinControl" value="SIEMPRE" @(Model.allegadosrelcom.RadioComeSinControl == "SIEMPRE" ? "checked=checked" : "") /></td>
                        </tr>
                        <tr>
                            <td class="margen">Para compensar estos atracones</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="normalmargen">¿Ha utilizado laxantes?</td>
                            <td><input type="radio" name="allegadosrelcom.RadioLaxantes" value="NUNCA" @(Model.allegadosrelcom.RadioLaxantes == "NUNCA" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioLaxantes" value="A VECES" @(Model.allegadosrelcom.RadioLaxantes == "A VECES" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioLaxantes" value="USUALMENTE" @(Model.allegadosrelcom.RadioLaxantes == "USUALMENTE" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioLaxantes" value="SIEMPRE" @(Model.allegadosrelcom.RadioLaxantes == "SIEMPRE" ? "checked=checked" : "") /></td>
                        </tr>
                        <tr>
                            <td class="normalmargen">¿Ha utilizado diuréticos?</td>
                            <td><input type="radio" name="allegadosrelcom.RadioDiureticos" value="NUNCA" @(Model.allegadosrelcom.RadioDiureticos == "NUNCA" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioDiureticos" value="A VECES" @(Model.allegadosrelcom.RadioDiureticos == "A VECES" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioDiureticos" value="USUALMENTE" @(Model.allegadosrelcom.RadioDiureticos == "USUALMENTE" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioDiureticos" value="SIEMPRE" @(Model.allegadosrelcom.RadioDiureticos == "SIEMPRE" ? "checked=checked" : "") /></td>
                        </tr>
                        <tr>
                            <td class="normalmargen">¿Se ha inducido el vómito?</td>
                            <td><input type="radio" name="allegadosrelcom.RadioInduceVomito" value="NUNCA" @(Model.allegadosrelcom.RadioInduceVomito == "NUNCA" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioInduceVomito" value="A VECES" @(Model.allegadosrelcom.RadioInduceVomito == "A VECES" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioInduceVomito" value="USUALMENTE" @(Model.allegadosrelcom.RadioInduceVomito == "USUALMENTE" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioInduceVomito" value="SIEMPRE" @(Model.allegadosrelcom.RadioInduceVomito == "SIEMPRE" ? "checked=checked" : "") /></td>
                        </tr>
                        <tr>
                            <td class="normalmargen">¿Restringe su alimentación?</td>
                            <td><input type="radio" name="allegadosrelcom.RadioRestringeAlimento" value="NUNCA" @(Model.allegadosrelcom.RadioRestringeAlimento == "NUNCA" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioRestringeAlimento" value="A VECES" @(Model.allegadosrelcom.RadioRestringeAlimento == "A VECES" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioRestringeAlimento" value="USUALMENTE" @(Model.allegadosrelcom.RadioRestringeAlimento == "USUALMENTE" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioRestringeAlimento" value="SIEMPRE" @(Model.allegadosrelcom.RadioRestringeAlimento == "SIEMPRE" ? "checked=checked" : "") /></td>
                        </tr>
                        <tr>
                            <td class="normalmargen">¿Realiza actividad física exagerada?</td>
                            <td><input type="radio" name="allegadosrelcom.RadioActFisicaExagerada" value="NUNCA" @(Model.allegadosrelcom.RadioActFisicaExagerada == "NUNCA" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioActFisicaExagerada" value="A VECES" @(Model.allegadosrelcom.RadioActFisicaExagerada == "A VECES" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioActFisicaExagerada" value="USUALMENTE" @(Model.allegadosrelcom.RadioActFisicaExagerada == "USUALMENTE" ? "checked=checked" : "") /></td>
                            <td><input type="radio" name="allegadosrelcom.RadioActFisicaExagerada" value="SIEMPRE" @(Model.allegadosrelcom.RadioActFisicaExagerada == "SIEMPRE" ? "checked=checked" : "") /></td>
                        </tr>
                    </tbody>
                    
                  
                </table>
            </section>
</form>
        <div class="container-botones-inferiores" style="width:100%;float:left">
            @Html.ActionLink("Anterior", "AnteriorPaso", "Pasos", new { id = ViewBag.Pagina }, new { @class = "btn btn-info", onclick = "javascript:subirDatos();" })
            <label style="font-family:monospace;font-size:smaller;font-weight:bolder;">
                Pagina 9 de 18
            </label>
            @Html.ActionLink("Siguiente", "ProximoPaso", "Pasos", new { id = ViewBag.Pagina }, new { @class = "btn btn-info", onclick = "javascript:subirDatos();" })
        </div>

