@model HistoriaPersonalCormillot.ViewModels.Impresion.Page6
@{
    Layout = null;
}
@{
    string como = Model.pref2.RadioComo;
    string bocados = Model.pref2.RadioMisBocados;
    string velocidad = Model.pref2.RadioVelocidad;
    string mastico = Model.pref2.RadioMastico;
    string saboreo = Model.pref2.RadioSaboreo;
    string comomassolo = Model.pref2.ComerMasSolo;
    string comomasflia = Model.pref2.ComerMasEnFamilia;
    string comomasconamigos = Model.pref2.ComerMasConAmigos;
    string comomasenfiestas = Model.pref2.ComerMasEnFiestas;
    string comomasenpareja = Model.pref2.ComerMasEnPareja;
    string mientrascocino = Model.pref2.ComerMientrasCocino;
    string mientrastvocompu = Model.pref2.ComerMientrasTvoCompu;

    string comidaencasa = Model.prefalim.alimentacion.ComidaEnCasa;
    string comidaentrabajo = Model.prefalim.alimentacion.ComidaEnTrabajo;
    string comidaenestudio = Model.prefalim.alimentacion.ComidaEnEstudio;
    string comidaenfinde = Model.prefalim.alimentacion.ComidaEnFinde;


}
<html>
<head>
    <title>6</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Save for Web Styles (6.jpg - Slices: que2) -->
    <style type="text/css">
        <!--



        #Table_01 {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1013px;
            height: 722px;
            /*background-image: url(../../Content/Imagenes/Mapeo/6.jpg);*/
        }

        p {
            display: inline;
            font-family: arial;
            font-size: 14px;
        }

        #como-01 {
            position: absolute;
            left: 170px;
            top: 65px;
            width: 14px;
            height: 14px;
        }

        #como-06 {
            position: absolute;
            left: 241px;
            top: 65px;
            width: 14px;
            height: 14px;
        }

        #como-10 {
            position: absolute;
            left: 296px;
            top: 65px;
            width: 14px;
            height: 14px;
        }

        #como-15 {
            position: absolute;
            left: 360px;
            top: 65px;
            width: 14px;
            height: 14px;
        }

        #como-19 {
            position: absolute;
            left: 427px;
            top: 65px;
            width: 14px;
            height: 14px;
        }

        #comomas-2 {
            position: absolute;
            left: 957px;
            top: 70px;
            width: 14px;
            height: 14px;
        }

        #comomas-0 {
            position: absolute;
            left: 662px;
            top: 71px;
            width: 14px;
            height: 14px;
        }

        #comomas-1 {
            position: absolute;
            left: 809px;
            top: 71px;
            width: 14px;
            height: 14px;
        }

        #misbocads-01 {
            position: absolute;
            left: 170px;
            top: 88px;
            width: 14px;
            height: 14px;
        }

        #misbocads-06 {
            position: absolute;
            left: 240px;
            top: 88px;
            width: 14px;
            height: 14px;
        }

        #misbocads-10 {
            position: absolute;
            left: 296px;
            top: 88px;
            width: 14px;
            height: 14px;
        }

        #misbocads-15 {
            position: absolute;
            left: 361px;
            top: 88px;
            width: 14px;
            height: 14px;
        }

        #misbocads-19 {
            position: absolute;
            left: 427px;
            top: 88px;
            width: 14px;
            height: 14px;
        }

        #comomas-4 {
            position: absolute;
            left: 809px;
            top: 93px;
            width: 14px;
            height: 14px;
        }

        #comomas-5 {
            position: absolute;
            left: 957px;
            top: 93px;
            width: 14px;
            height: 14px;
        }

        #comomas-3 {
            position: absolute;
            left: 662px;
            top: 94px;
            width: 14px;
            height: 14px;
        }

        #velocida-01 {
            position: absolute;
            left: 170px;
            top: 111px;
            width: 14px;
            height: 14px;
        }

        #velocida-06 {
            position: absolute;
            left: 240px;
            top: 111px;
            width: 14px;
            height: 14px;
        }

        #velocida-10 {
            position: absolute;
            left: 296px;
            top: 111px;
            width: 14px;
            height: 14px;
        }

        #velocida-15 {
            position: absolute;
            left: 361px;
            top: 111px;
            width: 14px;
            height: 14px;
        }

        #velocida-19 {
            position: absolute;
            left: 427px;
            top: 111px;
            width: 14px;
            height: 14px;
        }

        #comomas-8 {
            position: absolute;
            left: 957px;
            top: 115px;
            width: 14px;
            height: 14px;
        }

        #comomas-7 {
            position: absolute;
            left: 809px;
            top: 116px;
            width: 14px;
            height: 14px;
        }

        #comomas-6 {
            position: absolute;
            left: 662px;
            top: 117px;
            width: 14px;
            height: 14px;
        }

        #lamastico-01 {
            position: absolute;
            left: 170px;
            top: 135px;
            width: 14px;
            height: 14px;
        }

        #lamastico-06 {
            position: absolute;
            left: 240px;
            top: 135px;
            width: 14px;
            height: 14px;
        }

        #lamastico-10 {
            position: absolute;
            left: 296px;
            top: 135px;
            width: 14px;
            height: 14px;
        }

        #lamastico-15 {
            position: absolute;
            left: 362px;
            top: 135px;
            width: 14px;
            height: 14px;
        }

        #lamastico-19 {
            position: absolute;
            left: 427px;
            top: 135px;
            width: 14px;
            height: 14px;
        }

        #comomas-10 {
            position: absolute;
            left: 809px;
            top: 137px;
            width: 14px;
            height: 13px;
        }

        #comomas-11 {
            position: absolute;
            left: 957px;
            top: 137px;
            width: 14px;
            height: 13px;
        }

        #comomas-9 {
            position: absolute;
            left: 662px;
            top: 138px;
            width: 14px;
            height: 13px;
        }

        #lasaboreo-01 {
            position: absolute;
            left: 170px;
            top: 159px;
            width: 14px;
            height: 14px;
        }

        #lasaboreo-06 {
            position: absolute;
            left: 240px;
            top: 159px;
            width: 14px;
            height: 14px;
        }

        #lasaboreo-10 {
            position: absolute;
            left: 296px;
            top: 159px;
            width: 14px;
            height: 14px;
        }

        #lasaboreo-15 {
            position: absolute;
            left: 362px;
            top: 159px;
            width: 14px;
            height: 14px;
        }

        #lasaboreo-19 {
            position: absolute;
            left: 426px;
            top: 159px;
            width: 14px;
            height: 14px;
        }

        #quiendecide {
            position: absolute;
            left: 784px;
            top: 212px;
            width: 187px;
            height: 14px;
        }

        #quiencompra {
            position: absolute;
            left: 703px;
            top: 232px;
            width: 268px;
            height: 14px;
        }

        #horariosapetito-0 {
            position: absolute;
            left: 136px;
            top: 250px;
            width: 14px;
            height: 14px;
        }

        #quiencocina {
            position: absolute;
            left: 638px;
            top: 257px;
            width: 156px;
            height: 14px;
        }

        #legustaco {
            position: absolute;
            left: 899px;
            top: 257px;
            width: 72px;
            height: 14px;
        }

        #horariosapetito-1 {
            position: absolute;
            left: 136px;
            top: 275px;
            width: 14px;
            height: 14px;
        }

        #desay-0 {
            position: absolute;
            left: 228px;
            top: 289px;
            width: 14px;
            height: 14px;
        }

        #desay-1 {
            position: absolute;
            left: 315px;
            top: 289px;
            width: 14px;
            height: 14px;
        }

        #desay-2 {
            position: absolute;
            left: 404px;
            top: 289px;
            width: 14px;
            height: 14px;
        }

        #horariosapetito-2 {
            position: absolute;
            left: 136px;
            top: 298px;
            width: 14px;
            height: 14px;
        }

        #almuerz-01 {
            position: absolute;
            left: 228px;
            top: 310px;
            width: 14px;
            height: 14px;
        }

        #almuerz-07 {
            position: absolute;
            left: 315px;
            top: 310px;
            width: 14px;
            height: 14px;
        }

        #almuerz-13 {
            position: absolute;
            left: 404px;
            top: 310px;
            width: 14px;
            height: 14px;
        }

        #horariosapetito-3 {
            position: absolute;
            left: 136px;
            top: 320px;
            width: 14px;
            height: 14px;
        }

        #meriend-0 {
            position: absolute;
            left: 228px;
            top: 330px;
            width: 14px;
            height: 14px;
        }

        #meriend-1 {
            position: absolute;
            left: 315px;
            top: 330px;
            width: 14px;
            height: 14px;
        }

        #meriend-2 {
            position: absolute;
            left: 404px;
            top: 330px;
            width: 14px;
            height: 14px;
        }

        #comidacasa-1 {
            position: absolute;
            left: 772px;
            top: 339px;
            width: 14px;
            height: 14px;
        }

        #comidacasa-2 {
            position: absolute;
            left: 834px;
            top: 339px;
            width: 14px;
            height: 14px;
        }

        #comidacasa-3 {
            position: absolute;
            left: 881px;
            top: 339px;
            width: 14px;
            height: 14px;
        }

        #comidacasa-4 {
            position: absolute;
            left: 924px;
            top: 339px;
            width: 14px;
            height: 14px;
        }

        #comidacasa-0 {
            position: absolute;
            left: 704px;
            top: 340px;
            width: 14px;
            height: 14px;
        }

        #horariosapetito-4 {
            position: absolute;
            left: 136px;
            top: 344px;
            width: 14px;
            height: 14px;
        }

        #cenaa-0 {
            position: absolute;
            left: 228px;
            top: 357px;
            width: 14px;
            height: 14px;
        }

        #cenaa-1 {
            position: absolute;
            left: 315px;
            top: 357px;
            width: 14px;
            height: 14px;
        }

        #cenaa-2 {
            position: absolute;
            left: 404px;
            top: 357px;
            width: 14px;
            height: 14px;
        }

        #comidatrabajo-0 {
            position: absolute;
            left: 704px;
            top: 357px;
            width: 14px;
            height: 14px;
        }

        #comidatrabajo-1 {
            position: absolute;
            left: 772px;
            top: 357px;
            width: 14px;
            height: 14px;
        }

        #comidatrabajo-2 {
            position: absolute;
            left: 834px;
            top: 357px;
            width: 14px;
            height: 14px;
        }

        #comidatrabajo-3 {
            position: absolute;
            left: 881px;
            top: 357px;
            width: 14px;
            height: 14px;
        }

        #comidatrabajo-4 {
            position: absolute;
            left: 924px;
            top: 357px;
            width: 14px;
            height: 14px;
        }

        #horariosapetito-5 {
            position: absolute;
            left: 136px;
            top: 367px;
            width: 14px;
            height: 14px;
        }

        #comidaestudio-0 {
            position: absolute;
            left: 704px;
            top: 373px;
            width: 14px;
            height: 14px;
        }

        #comidaestudio-1 {
            position: absolute;
            left: 772px;
            top: 373px;
            width: 14px;
            height: 14px;
        }

        #comidaestudio-2 {
            position: absolute;
            left: 834px;
            top: 373px;
            width: 14px;
            height: 14px;
        }

        #comidaestudio-3 {
            position: absolute;
            left: 882px;
            top: 373px;
            width: 14px;
            height: 14px;
        }

        #comidaestudio-4 {
            position: absolute;
            left: 924px;
            top: 373px;
            width: 14px;
            height: 14px;
        }

        #comidafinde-0 {
            position: absolute;
            left: 703px;
            top: 396px;
            width: 14px;
            height: 14px;
        }

        #comidafinde-1 {
            position: absolute;
            left: 773px;
            top: 396px;
            width: 14px;
            height: 14px;
        }

        #comidafinde-2 {
            position: absolute;
            left: 835px;
            top: 396px;
            width: 14px;
            height: 14px;
        }

        #comidafinde-3 {
            position: absolute;
            left: 882px;
            top: 396px;
            width: 14px;
            height: 14px;
        }

        #comidafinde-4 {
            position: absolute;
            left: 924px;
            top: 396px;
            width: 14px;
            height: 14px;
        }

        #quealimentoscreeq0 {
            position: absolute;
            left: 772px;
            top: 421px;
            width: 208px;
            height: 14px;
        }

        #solo-01 {
            position: absolute;
            left: 325px;
            top: 429px;
            width: 14px;
            height: 14px;
        }

        #solo-03 {
            position: absolute;
            left: 356px;
            top: 429px;
            width: 14px;
            height: 14px;
        }

        #solo-05 {
            position: absolute;
            left: 387px;
            top: 429px;
            width: 14px;
            height: 14px;
        }

        #solo-08 {
            position: absolute;
            left: 418px;
            top: 429px;
            width: 14px;
            height: 14px;
        }

        #solo-10 {
            position: absolute;
            left: 448px;
            top: 429px;
            width: 14px;
            height: 14px;
        }

        #quealimentoscreeq1 {
            position: absolute;
            left: 543px;
            top: 438px;
            width: 437px;
            height: 14px;
        }

        #quealimentoscreeq2 {
            position: absolute;
            left: 543px;
            top: 456px;
            width: 437px;
            height: 14px;
        }

        #conamiguis-01 {
            position: absolute;
            left: 325px;
            top: 480px;
            width: 14px;
            height: 14px;
        }

        #conamiguis-03 {
            position: absolute;
            left: 356px;
            top: 480px;
            width: 14px;
            height: 14px;
        }

        #conamiguis-06 {
            position: absolute;
            left: 388px;
            top: 480px;
            width: 14px;
            height: 14px;
        }

        #conamiguis-08 {
            position: absolute;
            left: 419px;
            top: 480px;
            width: 14px;
            height: 14px;
        }

        #conamiguis-09 {
            position: absolute;
            left: 448px;
            top: 480px;
            width: 14px;
            height: 14px;
        }

        #quecomecuandocome0 {
            position: absolute;
            left: 750px;
            top: 481px;
            width: 230px;
            height: 14px;
        }

        #quecomecuandocome1 {
            position: absolute;
            left: 543px;
            top: 499px;
            width: 437px;
            height: 14px;
        }

        #enfiest-01 {
            position: absolute;
            left: 325px;
            top: 505px;
            width: 14px;
            height: 14px;
        }

        #enfiest-03 {
            position: absolute;
            left: 356px;
            top: 505px;
            width: 14px;
            height: 14px;
        }

        #enfiest-06 {
            position: absolute;
            left: 388px;
            top: 505px;
            width: 14px;
            height: 14px;
        }

        #enfiest-08 {
            position: absolute;
            left: 419px;
            top: 505px;
            width: 14px;
            height: 14px;
        }

        #enfiest-09 {
            position: absolute;
            left: 448px;
            top: 505px;
            width: 14px;
            height: 14px;
        }

        #quecomecuandocome2 {
            position: absolute;
            left: 543px;
            top: 517px;
            width: 437px;
            height: 14px;
        }

        #enparej-01 {
            position: absolute;
            left: 325px;
            top: 531px;
            width: 14px;
            height: 14px;
        }

        #enparej-03 {
            position: absolute;
            left: 357px;
            top: 531px;
            width: 14px;
            height: 14px;
        }

        #enparej-06 {
            position: absolute;
            left: 389px;
            top: 531px;
            width: 14px;
            height: 14px;
        }

        #enparej-08 {
            position: absolute;
            left: 419px;
            top: 531px;
            width: 14px;
            height: 14px;
        }

        #enparej-09 {
            position: absolute;
            left: 448px;
            top: 531px;
            width: 14px;
            height: 14px;
        }

        #que0 {
            position: absolute;
            left: 826px;
            top: 557px;
            width: 154px;
            height: 14px;
        }

        #puedesi-0 {
            position: absolute;
            left: 758px;
            top: 561px;
            width: 14px;
            height: 14px;
        }

        #puedeno-0 {
            position: absolute;
            left: 680px;
            top: 562px;
            width: 14px;
            height: 14px;
        }

        #que1 {
            position: absolute;
            left: 826px;
            top: 573px;
            width: 154px;
            height: 14px;
        }

        #puedesi-1 {
            position: absolute;
            left: 758px;
            top: 576px;
            width: 14px;
            height: 14px;
        }

        #puedeno-1 {
            position: absolute;
            left: 680px;
            top: 577px;
            width: 14px;
            height: 14px;
        }

        #conci-0 {
            position: absolute;
            left: 325px;
            top: 583px;
            width: 14px;
            height: 13px;
        }

        #conci-1 {
            position: absolute;
            left: 358px;
            top: 583px;
            width: 14px;
            height: 13px;
        }

        #conci-2 {
            position: absolute;
            left: 390px;
            top: 583px;
            width: 14px;
            height: 13px;
        }

        #conci-3 {
            position: absolute;
            left: 421px;
            top: 583px;
            width: 14px;
            height: 13px;
        }

        #conci-4 {
            position: absolute;
            left: 448px;
            top: 583px;
            width: 14px;
            height: 13px;
        }

        #que2 {
            position: absolute;
            left: 826px;
            top: 588px;
            width: 154px;
            height: 15px;
        }

        #puedesi-2 {
            position: absolute;
            left: 758px;
            top: 591px;
            width: 14px;
            height: 14px;
        }

        #puedeno-2 {
            position: absolute;
            left: 680px;
            top: 592px;
            width: 14px;
            height: 13px;
        }

        #mirotvcompu-0 {
            position: absolute;
            left: 325px;
            top: 607px;
            width: 14px;
            height: 14px;
        }

        #mirotvcompu-1 {
            position: absolute;
            left: 358px;
            top: 607px;
            width: 14px;
            height: 14px;
        }

        #mirotvcompu-2 {
            position: absolute;
            left: 391px;
            top: 607px;
            width: 14px;
            height: 14px;
        }

        #mirotvcompu-3 {
            position: absolute;
            left: 421px;
            top: 607px;
            width: 14px;
            height: 14px;
        }

        #mirotvcompu-4 {
            position: absolute;
            left: 448px;
            top: 607px;
            width: 14px;
            height: 14px;
        }

        -->
    </style>
    <!-- End Save for Web Styles -->
</head>
<body style="background-color:#FFFFFF; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;">
<!-- Save for Web Slices (6.jpg - Slices: que2) -->
    <img src="../../Content/Imagenes/Mapeo/6.jpg" width="88%" alt="Alternate Text" />
    <div id="Table_01">
        @{
            switch (como)
            {
                case "Muy poco":
                    <div id="como-01">
                        O
                    </div>
                    break;
                case "Poco":
                    <div id="como-06">
                        O
                    </div>
                    break;
                case "Normal":
                    <div id="como-10">
                        O
                    </div>
                    break;
                case "Mucho":
                    <div id="como-15">
                        O
                    </div>
                    break;
                case "Atracon":
                    <div id="como-19">
                        O
                    </div>
                    break;
            }
        }
        <div id="comomas-2">
            @if (Model.pref2.LugarCalle == true)
            {
                <div>X</div>
            }
        </div>
        <div id="comomas-0">
            @if (Model.pref2.LugarCasa == true)
            {
                <div>X</div>
            }
        </div>
        <div id="comomas-1">
            @if (Model.pref2.LugarTraslados == true)
            {
                <div>X</div>
            }
        </div>
        @{
            switch (como)
            {
                case "Muy chicos":
                    <div id="misbocads-01">
                        O
                    </div>
                    break;
                case "Chicos":
                    <div id="misbocads-06">
                        O
                    </div>
                    break;
                case "Medianos":
                    <div id="misbocads-10">
                        O
                    </div>
                    break;
                case "Grandes":
                    <div id="misbocads-15">
                        O
                    </div>
                    break;
                case "Muy grandes":
                    <div id="misbocads-19">
                        O
                    </div>
                    break;
            }
        }
  
        <div id="comomas-4">
            @if (Model.pref2.LugarRestaurante == true)
            {
                <div>X</div>
            }
        </div>
        <div id="comomas-5">
            @if (Model.pref2.LugarViaje == true)
            {
                <div>X</div>
            }
        </div>
        <div id="comomas-3">
            @if (Model.pref2.LugarColegio == true)
            {
                <div>X</div>
            }
        </div>
        @{
            switch (velocidad)
            {
                case "Muy lento":
                    <div id="velocida-01">
                        O
                    </div>
                    break;
                case "Lento":
                    <div id="velocida-06">
                        O
                    </div>
                    break;
                case "Medio":
                    <div id="velocida-10">
                        O
                    </div>
                    break;
                case "Rapido":
                    <div id="velocida-15">
                        O
                    </div>
                    break;
                case "Trago":
                    <div id="velocida-19">
                        O
                    </div>
                    break;
            }
        }
 
        <div id="comomas-8">
            @if (Model.pref2.LugarVacaciones == true)
            {
                <div>X</div>
            }
        </div>
        <div id="comomas-7">
            @if (Model.pref2.LugarBarB == true)
            {
                <div>X</div>
            }
        </div>
        <div id="comomas-6">
            @if (Model.pref2.LugarEstudioB == true)
            {
                <div>X</div>
            }
        </div>
        @{
            switch (mastico)
            {
                case "Muy lento":
                    <div id="lamastico-01">
                        O
                    </div>
                    break;
                case "Lento":
                    <div id="lamastico-06">
                        O
                    </div>
                    break;
                case "Medio":
                    <div id="lamastico-10">
                        O
                    </div>
                    break;
                case "Rapido":
                    <div id="lamastico-15">
                        O
                    </div>
                    break;
                case "Trago":
                    <div id="lamastico-19">
                        O
                    </div>
                    break;
            }
        }
 
        <div id="comomas-10">
            @if (Model.pref2.LugarClub == true)
            {
                <div>X</div>
            }
        </div>
        <div id="comomas-11">
            @if (Model.pref2.LugarKiosko == true)
            {
                <div>X</div>
            }
        </div>
        <div id="comomas-9">
            @if (Model.pref2.LugarTrabajo == true)
            {
                <div>X</div>
            }
        </div>
        @{
            switch (saboreo)
            {
                case "Muy lento":
                    <div id="lasaboreo-01">
                        O
                    </div>
                    break;
                case "Lento":
                    <div id="lasaboreo-06">
                        O
                    </div>
                    break;
                case "Medio":
                    <div id="lasaboreo-10">
                        O
                    </div>
                    break;
                case "Rapido":
                    <div id="lasaboreo-15">
                        O
                    </div>
                    break;
                case "Trago":
                    <div id="lasaboreo-19">
                        O
                    </div>
                    break;
            }
        }
       
        <div id="quiendecide">
            @if (Model.prefalim != null && Model.prefalim.alimentacion != null)
            {
                @Model.prefalim.alimentacion.DecideComida
            }
           
        </div>
        <div id="quiencompra">
            @if (Model.prefalim != null)
            {
                @Model.prefalim.alimentacion.CompraComida

            }
        </div>
        <div id="horariosapetito-0">
            @if (Model.pref2.Horario6a12 == true)
            {
                <div>X</div>
            }
        </div>
        <div id="quiencocina">
            @if (Model.prefalim != null)
            {
                @Model.prefalim.alimentacion.CocinaComida
            }
        </div>
        <div id="legustaco">
            @Model.prefalim.alimentacion.GustaCocinar
        </div>
        <div id="horariosapetito-1">
            @if (Model.pref2.Horario12a16 == true)
            {
                <div>X</div>
            }
        </div>
        <div id="desay-0">

        </div>
        <div id="desay-1">
            @if (Model.pref2.SabadoDesayuno == true)
            {
                <div>O</div>
            }
        </div>
        <div id="desay-2">
            @if (Model.pref2.DomingoDesayuno == true)
            {
                <div>O</div>
            }
        </div>
        <div id="horariosapetito-2">
       
        </div>
        <div id="almuerz-01">
          
        </div>
        <div id="almuerz-07">
            @if (Model.pref2.SabadoAlmuerzo == true)
            {
                <div>O</div>
            }
        </div>
        <div id="almuerz-13">
            @if (Model.pref2.DomingoAlmuerzo == true)
            {
                <div>O</div>
            }
        </div>
        <div id="horariosapetito-3">
            @if (Model.pref2.Horario20a22 == true)
            {
                <div>X</div>
            }
        </div>
        <div id="meriend-0">

        </div>
        <div id="meriend-1">
            @if (Model.pref2.SabadoMerienda == true)
            {
                <div>O</div>
            }
        </div>
        <div id="meriend-2">
            @if (Model.pref2.DomingoMerienda == true)
            {
                <div>O</div>
            }
        </div>

        @{
            switch (comidaencasa)
            {
                case "MuyEngordante":
                    <div id="comidacasa-0">
                        X
                    </div>
                    break;
                case "Engordante":
                    <div id="comidacasa-1">
                        X
                    </div>
                    break;
                case "Normal":
                    <div id="comidacasa-2">
                        X
                    </div>
                    break;
                case "Liviana":
                    <div id="comidacasa-3">
                        X
                    </div>
                    break;
                case "Light":
                    <div id="comidacasa-4">
                        X
                    </div>
                    break;
            }
        }
       

        <div id="horariosapetito-4">
            @if (Model.pref2.Horario22a24 == true)
            {
                <div>X</div>
            }
        </div>
        <div id="cenaa-0">
            @if (Model.pref2.ViernesCena == true)
            {
                <div>O</div>
            }
        </div>
        <div id="cenaa-1">
            @if (Model.pref2.SabadoCena == true)
            {
                <div>O</div>
            }
        </div>
        <div id="cenaa-2">
            @if (Model.pref2.DomingoCena == true)
            {
                <div>O</div>
            }
        </div>
        @{
            switch (comidaentrabajo)
            {
                case "MuyEngordante":
                    <div id="comidatrabajo-0">
                        X
                    </div>
                    break;
                case "Engordante":
                    <div id="comidatrabajo-1">
                        X
                    </div>
                    break;
                case "Normal":
                    <div id="comidatrabajo-2">
                        X
                    </div>
                    break;
                case "Liviana":
                    <div id="comidatrabajo-3">
                        X
                    </div>
                    break;
                case "Light":
                    <div id="comidatrabajo-4">
                        X
                    </div>
                    break;
            }
        }
     
        <div id="horariosapetito-5">
            @if (Model.pref2.Horario0a6 == true)
            {
                <div>X</div>
            }
        </div>
        @{
            switch (comidaenestudio)
            {
                case "MuyEngordante":
                    <div id="comidaestudio-0">
                        X
                    </div>
                    break;
                case "Engordante":
                    <div id="comidaestudio-1">
                        X
                    </div>
                    break;
                case "Normal":
                    <div id="comidaestudio-2">
                        X
                    </div>
                    break;
                case "Liviana":
                    <div id="comidaestudio-3">
                        X
                    </div>
                    break;
                case "Light":
                    <div id="comidatrabajo-4">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (comidaenfinde)
            {
                case "MuyEngordante":
                    <div id="comidafinde-0">
                        X
                    </div>
                    break;
                case "Engordante":
                    <div id="comidafinde-1">
                        X
                    </div>
                    break;
                case "Normal":
                    <div id="comidafinde-2">
                        X
                    </div>
                    break;
                case "Liviana":
                    <div id="comidafinde-3">
                        X
                    </div>
                    break;
                case "Light":
                    <div id="comidafinde-4">
                        X
                    </div>
                    break;
            }
        }
    
        <div id="quealimentoscreeq0">
            @if (Model.prefalim != null)
            {
                @Model.prefalim.alimentacion.AlimentosEngordan
            }
        </div>
        @{
            switch (comomassolo)
            {
                case "1":
                    <div id="solo-01">
                        X
                    </div>
                    break;
                case "2":
                    <div id="solo-03">
                        X
                    </div>
                    break;
                case "3":
                    <div id="solo-05">
                        X
                    </div>
                    break;
                case "4":
                    <div id="solo-08">
                        X
                    </div>
                    break;
                case "5":
                    <div id="solo-10">
                        X
                    </div>
                    break;
            }
        }
        <div id="quealimentoscreeq1">
            @Model.prefalim.alimentacion.AlimentosEngordan
        </div>
        <div id="quealimentoscreeq2">
        </div>
        @{
            switch (comomasconamigos)
            {
                case "1":
                    <div id="conamiguis-01">
                        X
                    </div>
                    break;
                case "2":
                    <div id="conamiguis-03">
                        X
                    </div>
                    break;
                case "3":
                    <div id="conamiguis-06">
                        X
                    </div>
                    break;
                case "4":
                    <div id="conamiguis-08">
                        X
                    </div>
                    break;
                case "5":
                    <div id="conamiguis-09">
                        X
                    </div>
                        break;
                }
            }
        <div id="quecomecuandocome0">
            @if(Model.prefalim.alimentacion.ComeDeMas != null)
            {
                @Model.prefalim.alimentacion.ComeDeMas
            }
        </div>
        <div id="quecomecuandocome1">
        </div>
        @{
            switch (comomasenfiestas)
            {
                case "1":
                    <div id="enfiest-01">
                        X
                    </div>
                    break;
                case "2":
                    <div id="enfiest-03">
                        X
                    </div>
                    break;
                case "3":
                    <div id="enfiest-06">
                        X
                    </div>
                    break;
                case "4":
                    <div id="enfiest-08">
                        X
                    </div>
                    break;
                case "5":
                    <div id="conamiguis-09">
                        X
                    </div>
                    break;
            }
        }
       
        <div id="quecomecuandocome2">
        </div>
        @{
            switch (comomasenpareja)
            {
                case "1":
                    <div id="enparej-01">
                        X
                    </div>
                    break;
                case "2":
                    <div id="enparej-03">
                        X
                    </div>
                    break;
                case "3":
                    <div id="enparej-06">
                        X
                    </div>
                    break;
                case "4":
                    <div id="enparej-08">
                        X
                    </div>
                    break;
                case "5":
                    <div id="enparej-09">
                        X
                    </div>
                    break;
            }
        }
 
        <div id="que0">
            @Model.prefalim.alimentacion.TrabajoPuedeComprarQue
        </div>
        <div id="puedesi-0">
            @if(Model.prefalim.alimentacion.TrabajoPuedeComprarSiNo == "Si")
            {
                <div>X</div>
            }
        </div>
        <div id="puedeno-0">
            @if (Model.prefalim.alimentacion.TrabajoPuedeComprarSiNo == "No")
            {
                <div>X</div>
            }
        </div>
        <div id="que1">
            @Model.prefalim.alimentacion.TrabajoPuedeLlevarQue
        </div>
        <div id="puedesi-1">
            @if (Model.prefalim.alimentacion.TrabajoPuedeLlevarSiNo == "Si")
            {
                <div>X</div>
            }
        </div>
        <div id="puedeno-1">
            @if (Model.prefalim.alimentacion.TrabajoPuedeLlevarSiNo == "No")
            {
                <div>X</div>
            }
        </div>
        @{
            switch (mientrascocino)
            {
                case "1":
                    <div id="conci-0">
                        X
                    </div>
                    break;
                case "2":
                    <div id="conci-1">
                        X
                    </div>
                    break;
                case "3":
                    <div id="conci-2">
                        X
                    </div>
                    break;
                case "4":
                    <div id="conci-3">
                        X
                    </div>
                    break;
                case "5":
                    <div id="conci-4">
                        X
                    </div>
                    break;
            }
        }
      
        <div id="que2">
            @Model.prefalim.alimentacion.TrabajoPuedePrepararQue
        </div>
        <div id="puedesi-2">
            @if (Model.prefalim.alimentacion.TrabajoPuedePrepararSiNo == "Si")
            {
                <div>X</div>
            }
        </div>
        <div id="puedeno-2">
            @if (Model.prefalim.alimentacion.TrabajoPuedePrepararSiNo == "No")
            {
                <div>X</div>
            }
        </div>
        @{
            switch (mientrastvocompu)
            {
                case "1":
                    <div id="mirotvcompu-0">
                        X
                    </div>
                    break;
                case "2":
                    <div id="mirotvcompu-1">
                        X
                    </div>
                    break;
                case "3":
                    <div id="mirotvcompu-2">
                        X
                    </div>
                    break;
                case "4":
                    <div id="mirotvcompu-3">
                        X
                    </div>
                    break;
                case "5":
                    <div id="mirotvcompu-4">
                        X
                    </div>
                    break;
            }
        }
       
    </div>
    <!-- End Save for Web Slices -->
</body>
</html>
