@{
    Layout = null;
}
@{ 

    string bañarse = Model.relac3.Bnarse;
    string vestirse = Model.relac3.Vestirse;
    string arreglarcasa = Model.relac3.ArreglarCasa;
    string caminarcasa = Model.relac3.CaminarCasa;
    string subirescaleras = Model.relac3.SubirEscaleras;
    string ircompras = Model.relac3.IrCompras;
    string caminarfueracasa = Model.relac3.CaminarFueraCasa;
    string irtrabajo = Model.relac3.IrTrabajo;
    string atarzapatos = Model.relac3.AtarZapatos;
    string levantarsedesilla = Model.relac3.LevantarDeSilla;
    string levardecama = Model.relac3.LevarDeCama;

    string calidadvida = Model.relac3.CalidadVida;
    string relacionfamiliar = Model.relac3.RelacionFamiliar;
    string vidasocial = Model.relac3.VidaSocial;
    string vidapareja = Model.relac3.VidaPareja;
    string vidalaboral = Model.relac3.VidaLaboral;
    string economia = Model.relac3.Economia;
    string ridiculo = Model.relac3.Ridiculo;
    string asiento = Model.relac3.Asiento;
    string pasillos = Model.relac3.Pasillos;
    string sillas = Model.relac3.Sillas;

}
<!DOCTYPE html>
<html>
<head>
    <title>2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Save for Web Styles (2.jpg - Slices: otradificultadpapu) -->
    <style type="text/css">
        <!--

        #Table_01 {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1013px;
            height: 721px;
            background-image: url(../../Content/Imagenes/Mapeo/2.jpg);
        }

        #cuantobajo {
            position: absolute;
            left: 284px;
            top: 42px;
            width: 180px;
            height: 14px;
        }

        #banarse0 {
            position: absolute;
            left: 909px;
            top: 74px;
            width: 15px;
            height: 14px;
        }

        #banarse1 {
            position: absolute;
            left: 925px;
            top: 74px;
            width: 16px;
            height: 14px;
        }

        #banarse2 {
            position: absolute;
            left: 941px;
            top: 74px;
            width: 16px;
            height: 14px;
        }

        #banarse3 {
            position: absolute;
            left: 957px;
            top: 74px;
            width: 16px;
            height: 14px;
        }

        #calidad0 {
            position: absolute;
            left: 684px;
            top: 77px;
            width: 16px;
            height: 13px;
        }

        #calidad1 {
            position: absolute;
            left: 700px;
            top: 77px;
            width: 17px;
            height: 13px;
        }

        #calidad2 {
            position: absolute;
            left: 717px;
            top: 77px;
            width: 15px;
            height: 13px;
        }

        #calidad3 {
            position: absolute;
            left: 732px;
            top: 77px;
            width: 17px;
            height: 13px;
        }

        #vestir0 {
            position: absolute;
            left: 909px;
            top: 88px;
            width: 16px;
            height: 13px;
        }

        #vestir1 {
            position: absolute;
            left: 925px;
            top: 88px;
            width: 16px;
            height: 13px;
        }

        #vestir2 {
            position: absolute;
            left: 941px;
            top: 88px;
            width: 16px;
            height: 13px;
        }

        #vestir3 {
            position: absolute;
            left: 957px;
            top: 88px;
            width: 16px;
            height: 13px;
        }

        #relacion0 {
            position: absolute;
            left: 684px;
            top: 90px;
            width: 16px;
            height: 13px;
        }

        #relacion1 {
            position: absolute;
            left: 700px;
            top: 90px;
            width: 17px;
            height: 13px;
        }

        #relacion2 {
            position: absolute;
            left: 717px;
            top: 90px;
            width: 15px;
            height: 13px;
        }

        #relacion3 {
            position: absolute;
            left: 732px;
            top: 90px;
            width: 17px;
            height: 13px;
        }

        #efectonegativocual {
            position: absolute;
            left: 185px;
            top: 92px;
            width: 282px;
            height: 14px;
        }

        #efectonegativono {
            position: absolute;
            left: 27px;
            top: 96px;
            width: 18px;
            height: 14px;
        }

        #efectonegativosi {
            position: absolute;
            left: 79px;
            top: 96px;
            width: 18px;
            height: 14px;
        }

        #areglarcasa0 {
            position: absolute;
            left: 909px;
            top: 101px;
            width: 16px;
            height: 14px;
        }

        #areglarcasa1 {
            position: absolute;
            left: 925px;
            top: 101px;
            width: 16px;
            height: 14px;
        }

        #areglarcasa2 {
            position: absolute;
            left: 941px;
            top: 101px;
            width: 16px;
            height: 14px;
        }

        #areglarcasa3 {
            position: absolute;
            left: 957px;
            top: 101px;
            width: 16px;
            height: 14px;
        }

        #vidasoci0 {
            position: absolute;
            left: 684px;
            top: 103px;
            width: 16px;
            height: 14px;
        }

        #vidasoci1 {
            position: absolute;
            left: 700px;
            top: 103px;
            width: 17px;
            height: 14px;
        }

        #vidasoci2 {
            position: absolute;
            left: 717px;
            top: 103px;
            width: 15px;
            height: 14px;
        }

        #vidasoci3 {
            position: absolute;
            left: 732px;
            top: 103px;
            width: 17px;
            height: 14px;
        }

        #subiresca0 {
            position: absolute;
            left: 909px;
            top: 115px;
            width: 16px;
            height: 13px;
        }

        #subiresca1 {
            position: absolute;
            left: 925px;
            top: 115px;
            width: 16px;
            height: 13px;
        }

        #subiresca2 {
            position: absolute;
            left: 941px;
            top: 115px;
            width: 15px;
            height: 13px;
        }

        #subiresca3 {
            position: absolute;
            left: 957px;
            top: 115px;
            width: 16px;
            height: 13px;
        }

        #vidaparej0 {
            position: absolute;
            left: 684px;
            top: 117px;
            width: 16px;
            height: 13px;
        }

        #vidaparej1 {
            position: absolute;
            left: 700px;
            top: 117px;
            width: 17px;
            height: 13px;
        }

        #vidaparej2 {
            position: absolute;
            left: 717px;
            top: 117px;
            width: 15px;
            height: 13px;
        }

        #vidaparej3 {
            position: absolute;
            left: 732px;
            top: 117px;
            width: 17px;
            height: 13px;
        }

        #caminarpor0 {
            position: absolute;
            left: 909px;
            top: 128px;
            width: 16px;
            height: 14px;
        }

        #caminarpor1 {
            position: absolute;
            left: 925px;
            top: 128px;
            width: 16px;
            height: 14px;
        }

        #caminarpor2 {
            position: absolute;
            left: 941px;
            top: 128px;
            width: 16px;
            height: 14px;
        }

        #caminarpor3 {
            position: absolute;
            left: 957px;
            top: 128px;
            width: 16px;
            height: 14px;
        }

        #vidaparej0 {
            position: absolute;
            left: 684px;
            top: 130px;
            width: 1px;
            height: 1px;
        }

        #vidlaboraleduca0 {
            position: absolute;
            left: 685px;
            top: 130px;
            width: 16px;
            height: 14px;
        }

        #vidlaboraleduca1 {
            position: absolute;
            left: 701px;
            top: 130px;
            width: 16px;
            height: 14px;
        }

        #vidlaboraleduca2 {
            position: absolute;
            left: 717px;
            top: 130px;
            width: 15px;
            height: 14px;
        }

        #vidlaboraleduca3 {
            position: absolute;
            left: 733px;
            top: 130px;
            width: 16px;
            height: 14px;
        }

        #porquefracasaron {
            position: absolute;
            left: 31px;
            top: 141px;
            width: 433px;
            height: 14px;
        }

        #irdcomp0 {
            position: absolute;
            left: 909px;
            top: 142px;
            width: 16px;
            height: 10px;
        }

        #irdecomp1 {
            position: absolute;
            left: 926px;
            top: 142px;
            width: 15px;
            height: 10px;
        }

        #irdcomp2 {
            position: absolute;
            left: 941px;
            top: 142px;
            width: 16px;
            height: 10px;
        }

        #irdcomp3 {
            position: absolute;
            left: 957px;
            top: 142px;
            width: 16px;
            height: 10px;
        }

        #econo0 {
            position: absolute;
            left: 685px;
            top: 144px;
            width: 15px;
            height: 14px;
        }

        #econo1 {
            position: absolute;
            left: 701px;
            top: 144px;
            width: 16px;
            height: 14px;
        }

        #econo2 {
            position: absolute;
            left: 717px;
            top: 144px;
            width: 16px;
            height: 14px;
        }

        #econo3 {
            position: absolute;
            left: 733px;
            top: 144px;
            width: 16px;
            height: 14px;
        }

        #caminarfuera0 {
            position: absolute;
            left: 909px;
            top: 152px;
            width: 16px;
            height: 14px;
        }

        #caminarfuera1 {
            position: absolute;
            left: 926px;
            top: 152px;
            width: 15px;
            height: 14px;
        }

        #caminarfuera2 {
            position: absolute;
            left: 941px;
            top: 152px;
            width: 16px;
            height: 14px;
        }

        #caminarfuera3 {
            position: absolute;
            left: 957px;
            top: 152px;
            width: 16px;
            height: 14px;
        }

        #iraltrabj0 {
            position: absolute;
            left: 909px;
            top: 166px;
            width: 17px;
            height: 13px;
        }

        #iraltrabj1 {
            position: absolute;
            left: 926px;
            top: 166px;
            width: 15px;
            height: 13px;
        }

        #iraltrabj2 {
            position: absolute;
            left: 941px;
            top: 166px;
            width: 16px;
            height: 13px;
        }

        #iraltrabj3 {
            position: absolute;
            left: 957px;
            top: 166px;
            width: 17px;
            height: 13px;
        }

        #atarselozapa0 {
            position: absolute;
            left: 910px;
            top: 179px;
            width: 16px;
            height: 13px;
        }

        #atarselozapa1 {
            position: absolute;
            left: 926px;
            top: 179px;
            width: 15px;
            height: 13px;
        }

        #atarselozapa2 {
            position: absolute;
            left: 943px;
            top: 179px;
            width: 14px;
            height: 13px;
        }

        #atarselozapa3 {
            position: absolute;
            left: 958px;
            top: 179px;
            width: 16px;
            height: 13px;
        }

        #desorden {
            position: absolute;
            left: 150px;
            top: 192px;
            width: 19px;
            height: 14px;
        }

        #estres {
            position: absolute;
            left: 237px;
            top: 192px;
            width: 18px;
            height: 14px;
        }

        #estadoanimo {
            position: absolute;
            left: 305px;
            top: 192px;
            width: 18px;
            height: 14px;
        }

        #levantdelasilla0 {
            position: absolute;
            left: 910px;
            top: 192px;
            width: 16px;
            height: 14px;
        }

        #levantdelasilla1 {
            position: absolute;
            left: 926px;
            top: 192px;
            width: 15px;
            height: 14px;
        }

        #levantdelasilla2 {
            position: absolute;
            left: 943px;
            top: 192px;
            width: 14px;
            height: 14px;
        }

        #levantdelasilla3 {
            position: absolute;
            left: 958px;
            top: 192px;
            width: 16px;
            height: 14px;
        }

        #horarios {
            position: absolute;
            left: 29px;
            top: 193px;
            width: 19px;
            height: 14px;
        }

        #alridiculo0 {
            position: absolute;
            left: 685px;
            top: 193px;
            width: 16px;
            height: 14px;
        }

        #alridiculo1 {
            position: absolute;
            left: 702px;
            top: 193px;
            width: 16px;
            height: 14px;
        }

        #alridiculo2 {
            position: absolute;
            left: 718px;
            top: 193px;
            width: 15px;
            height: 14px;
        }

        #alridiculo3 {
            position: absolute;
            left: 733px;
            top: 193px;
            width: 16px;
            height: 14px;
        }

        #levantdecam0 {
            position: absolute;
            left: 910px;
            top: 206px;
            width: 16px;
            height: 12px;
        }

        #levantdecam1 {
            position: absolute;
            left: 926px;
            top: 206px;
            width: 17px;
            height: 12px;
        }

        #levantdecam2 {
            position: absolute;
            left: 943px;
            top: 206px;
            width: 15px;
            height: 12px;
        }

        #levantdecam3 {
            position: absolute;
            left: 958px;
            top: 206px;
            width: 16px;
            height: 12px;
        }

        #vidasocial {
            position: absolute;
            left: 150px;
            top: 209px;
            width: 19px;
            height: 14px;
        }

        #trabajo {
            position: absolute;
            left: 237px;
            top: 209px;
            width: 18px;
            height: 14px;
        }

        #motivacion {
            position: absolute;
            left: 305px;
            top: 209px;
            width: 18px;
            height: 14px;
        }

        #familia {
            position: absolute;
            left: 29px;
            top: 210px;
            width: 19px;
            height: 14px;
        }

        #otradificultadpapu {
            position: absolute;
            left: 875px;
            top: 218px;
            width: 99px;
            height: 14px;
        }

        #anoencontrar0 {
            position: absolute;
            left: 687px;
            top: 221px;
            width: 15px;
            height: 14px;
        }

        #anoencontrar1 {
            position: absolute;
            left: 702px;
            top: 221px;
            width: 16px;
            height: 14px;
        }

        #anoencontrar2 {
            position: absolute;
            left: 718px;
            top: 221px;
            width: 16px;
            height: 14px;
        }

        #anoencontrar3 {
            position: absolute;
            left: 734px;
            top: 221px;
            width: 16px;
            height: 14px;
        }

        #otrasbarrerascuales {
            position: absolute;
            left: 129px;
            top: 223px;
            width: 338px;
            height: 14px;
        }

        #otrasbarreras {
            position: absolute;
            left: 29px;
            top: 227px;
            width: 19px;
            height: 14px;
        }

        #anopasarpasillos0 {
            position: absolute;
            left: 687px;
            top: 247px;
            width: 15px;
            height: 14px;
        }

        #anopasarpasillos1 {
            position: absolute;
            left: 702px;
            top: 247px;
            width: 16px;
            height: 14px;
        }

        #anopasarpasillos2 {
            position: absolute;
            left: 718px;
            top: 247px;
            width: 16px;
            height: 14px;
        }

        #anopasarpasillos3 {
            position: absolute;
            left: 734px;
            top: 247px;
            width: 16px;
            height: 14px;
        }

        #anoentrarsillas0 {
            position: absolute;
            left: 688px;
            top: 271px;
            width: 15px;
            height: 14px;
        }

        #anoentrarsillas1 {
            position: absolute;
            left: 703px;
            top: 271px;
            width: 15px;
            height: 14px;
        }

        #anoentrarsillas2 {
            position: absolute;
            left: 718px;
            top: 271px;
            width: 16px;
            height: 14px;
        }

        #anoentrarsillas3 {
            position: absolute;
            left: 734px;
            top: 271px;
            width: 16px;
            height: 14px;
        }

        #problempersonal {
            position: absolute;
            left: 195px;
            top: 278px;
            width: 18px;
            height: 14px;
        }

        #vidsocial {
            position: absolute;
            left: 350px;
            top: 278px;
            width: 18px;
            height: 14px;
        }

        #nomodifelpeso {
            position: absolute;
            left: 30px;
            top: 279px;
            width: 19px;
            height: 14px;
        }

        #modificpoco {
            position: absolute;
            left: 31px;
            top: 296px;
            width: 18px;
            height: 14px;
        }

        #problemeconomicos {
            position: absolute;
            left: 195px;
            top: 296px;
            width: 18px;
            height: 14px;
        }

        #sentirsepresionao {
            position: absolute;
            left: 350px;
            top: 296px;
            width: 18px;
            height: 14px;
        }

        #llevarsemal {
            position: absolute;
            left: 195px;
            top: 313px;
            width: 18px;
            height: 14px;
        }

        #aburrirse {
            position: absolute;
            left: 350px;
            top: 313px;
            width: 18px;
            height: 14px;
        }

        #salirunavez {
            position: absolute;
            left: 31px;
            top: 314px;
            width: 18px;
            height: 14px;
        }

        #pocoapoyo {
            position: absolute;
            left: 196px;
            top: 330px;
            width: 18px;
            height: 14px;
        }

        #distanciaala {
            position: absolute;
            left: 31px;
            top: 331px;
            width: 18px;
            height: 14px;
        }

        #otrascosascuales {
            position: absolute;
            left: 108px;
            top: 351px;
            width: 360px;
            height: 14px;
        }

        #ansiedad {
            position: absolute;
            left: 127px;
            top: 406px;
            width: 19px;
            height: 14px;
        }

        #embarazzos {
            position: absolute;
            left: 343px;
            top: 406px;
            width: 18px;
            height: 14px;
        }

        #alimentacion {
            position: absolute;
            left: 32px;
            top: 407px;
            width: 19px;
            height: 14px;
        }

        #problmdesalud {
            position: absolute;
            left: 214px;
            top: 407px;
            width: 18px;
            height: 14px;
        }

        #herencia {
            position: absolute;
            left: 343px;
            top: 423px;
            width: 18px;
            height: 14px;
        }

        #alcoholl {
            position: absolute;
            left: 33px;
            top: 424px;
            width: 18px;
            height: 14px;
        }

        #estresss {
            position: absolute;
            left: 127px;
            top: 424px;
            width: 19px;
            height: 14px;
        }

        #metabolismo {
            position: absolute;
            left: 214px;
            top: 424px;
            width: 18px;
            height: 14px;
        }

        #sedentarism {
            position: absolute;
            left: 33px;
            top: 441px;
            width: 18px;
            height: 14px;
        }

        #medicacation {
            position: absolute;
            left: 127px;
            top: 441px;
            width: 19px;
            height: 14px;
        }

        #dejadefumanchar {
            position: absolute;
            left: 214px;
            top: 441px;
            width: 18px;
            height: 14px;
        }

        #otrossss {
            position: absolute;
            left: 343px;
            top: 441px;
            width: 18px;
            height: 14px;
        }

        #depreemo {
            position: absolute;
            left: 33px;
            top: 459px;
            width: 18px;
            height: 14px;
        }

        #perdida {
            position: absolute;
            left: 128px;
            top: 459px;
            width: 18px;
            height: 14px;
        }

        #mopause {
            position: absolute;
            left: 215px;
            top: 459px;
            width: 18px;
            height: 14px;
        }

        #supesoalnac {
            position: absolute;
            left: 147px;
            top: 493px;
            width: 18px;
            height: 14px;
        }

        #elmaximodeladult {
            position: absolute;
            left: 371px;
            top: 493px;
            width: 18px;
            height: 14px;
        }

        #gordo8 {
            position: absolute;
            left: 875px;
            top: 494px;
            width: 14px;
            height: 14px;
        }

        #gordo9 {
            position: absolute;
            left: 924px;
            top: 494px;
            width: 14px;
            height: 14px;
        }

        #gordo7 {
            position: absolute;
            left: 822px;
            top: 495px;
            width: 14px;
            height: 14px;
        }

        #gordo1 {
            position: absolute;
            left: 560px;
            top: 496px;
            width: 14px;
            height: 14px;
        }

        #gordo2 {
            position: absolute;
            left: 600px;
            top: 496px;
            width: 14px;
            height: 14px;
        }

        #gordo3 {
            position: absolute;
            left: 644px;
            top: 496px;
            width: 14px;
            height: 14px;
        }

        #gordo4 {
            position: absolute;
            left: 689px;
            top: 496px;
            width: 14px;
            height: 14px;
        }

        #gordo6 {
            position: absolute;
            left: 776px;
            top: 496px;
            width: 14px;
            height: 14px;
        }

        #gordo5 {
            position: absolute;
            left: 732px;
            top: 497px;
            width: 14px;
            height: 14px;
        }

        #eldeseo {
            position: absolute;
            left: 371px;
            top: 528px;
            width: 18px;
            height: 14px;
        }

        #elminim {
            position: absolute;
            left: 104px;
            top: 529px;
            width: 18px;
            height: 14px;
        }

        #aquiedad {
            position: absolute;
            left: 226px;
            top: 529px;
            width: 18px;
            height: 14px;
        }

        #supesoestasubiendo {
            position: absolute;
            left: 193px;
            top: 556px;
            width: 18px;
            height: 14px;
        }

        #supesoestaestable {
            position: absolute;
            left: 116px;
            top: 557px;
            width: 18px;
            height: 14px;
        }

        #supesoestabajando {
            position: absolute;
            left: 283px;
            top: 557px;
            width: 18px;
            height: 14px;
        }

        #algunpesocomodo {
            position: absolute;
            left: 138px;
            top: 602px;
            width: 18px;
            height: 14px;
        }

        #gorda9 {
            position: absolute;
            left: 925px;
            top: 613px;
            width: 14px;
            height: 14px;
        }

        #gorda7 {
            position: absolute;
            left: 828px;
            top: 614px;
            width: 14px;
            height: 14px;
        }

        #gorda8 {
            position: absolute;
            left: 875px;
            top: 614px;
            width: 14px;
            height: 14px;
        }

        #gorda6 {
            position: absolute;
            left: 777px;
            top: 615px;
            width: 14px;
            height: 14px;
        }

        #gorda1 {
            position: absolute;
            left: 567px;
            top: 616px;
            width: 14px;
            height: 14px;
        }

        #gorda2 {
            position: absolute;
            left: 606px;
            top: 616px;
            width: 14px;
            height: 14px;
        }

        #gorda3 {
            position: absolute;
            left: 648px;
            top: 616px;
            width: 14px;
            height: 14px;
        }

        #gorda4 {
            position: absolute;
            left: 691px;
            top: 616px;
            width: 14px;
            height: 14px;
        }

        #gorda5 {
            position: absolute;
            left: 733px;
            top: 616px;
            width: 14px;
            height: 14px;
        }

        p {
            display: inline;
            font-family: arial;
            font-size: 14px;
        }
        -->
    </style>
    <!-- End Save for Web Styles -->
</head>
<body style="background-color:#FFFFFF; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;">
    <!-- Save for Web Slices (2.jpg - Slices: otradificultadpapu) -->
    <div id="Table_01">
        <div id="cuantobajo">
            @Model.relac2.CuantoBajoEnTratamientosAnteriores
        </div>
        @{
            switch (bañarse)
            {
                case "Nada":
                    <div id="banarse0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="banarse1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="banarse2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="banarse3">
                        X
                    </div>
                    break;
            }

        }
        @{  switch (calidadvida)
            {
                case "Nada":
                    <div id="calidad0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="calidad1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="calidad2">
                        X
                     </div>
                    break;
                case "Mucho":
                    <div id="calidad3">
                        X
                    </div>
                    break;
            }

        }
      @{
          switch (vestirse)
          {
              case "Nada":
                <div id="vestir0">
                    X
                </div>
                  break;
              case "Algo":
                <div id="vestir1">
                    X
                </div>
                  break;
              case "Bastante":
                <div id="vestir2">
                    X
                </div>
                  break;
              case "Mucho":
                <div id="vestir3">
                    X
                </div>
                  break;
          }

    }

       @{
           switch (relacionfamiliar)
           {
               case "Nada":
                <div id="relacion0">
                    X
                </div>
                   break;
               case "Algo":
                <div id="relacion1">
                    X
                </div>
                   break;
               case "Bastante":
                <div id="relacion2">
                    X
                </div>
                   break;
               case "Mucho":
                <div id="relacion3">
                    X
                </div>
                   break;
           }
    }
       
        <div id="efectonegativocual">
            @Model.relac2.CualEfectoNegativoTratamientosAnteriores
        </div>
        <div id="efectonegativono">
            @if(Model.relac2.EfectoNegativoTratamientosAnteriores=="No")
                {
                <label>X</label>

            }
        </div>
        <div id="efectonegativosi">
            @if (Model.relac2.EfectoNegativoTratamientosAnteriores == "Si")
            {
                <label>X</label>

            }
        </div>
        @{
            switch (arreglarcasa)
            {
                case "Nada":
                    <div id="areglarcasa0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="areglarcasa1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="areglarcasa2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="areglarcasa3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (vidasocial)
            {
                case "Nada":
                    <div id="vidasoci0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="vidasoci1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="vidasoci2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="vidasoci3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (subirescaleras)
            {
                case "Nada":
                    <div id="subiresca0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="subiresca1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="subiresca2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="subiresca3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (vidapareja)
            {
                case "Nada":
                    <div id="vidaparej0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="vidaparej1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="vidaparej2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="vidaparej3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (caminarcasa)
            {
                case "Nada":
                    <div id="caminarpor0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="caminarpor1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="caminarpor2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="caminarpor3">
                        X
                    </div>
                    break;
            }
        }
     
       @{
           switch (vidapareja)
           {
               case "Nada":
                <div id="vidaparej0">
                    X
                </div>
                   break;
               case "Algo":
                <div id="vidaparej1">
                    X
                </div>
                   break;
               case "Bastante":
                <div id="vidaparej2">
                    X
                </div>
                   break;
               case "Mucho":
                <div id="vidaparej3">
                    X
                </div>
                   break;
           }
    }
        @{
            switch (vidalaboral)
            {
                case "Nada":
                    <div id="vidlaboraleduca0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="vidlaboraleduca1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="vidlaboraleduca2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="vidlaboraleduca3">
                        X
                    </div>
                    break;
            }
        }
      
        <div id="porquefracasaron">
            @Model.relac2.MotivoTratamientosAnterioresFallaron
        </div>
        @{
            switch (ircompras)
            {
                case "Nada":
                    <div id="irdcomp0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="irdcomp1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="irdcomp2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="irdcomp3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (economia)
            {
                case "Nada":
                    <div id="econo0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="econo1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="econo2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="econo3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (caminarfueracasa)
            {
                case "Nada":
                    <div id="caminarfuera0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="caminarfuera1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="caminarfuera2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="caminarfuera3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (irtrabajo)
            {
                case "Nada":
                    <div id="iraltrabj0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="iraltrabj1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="iraltrabj2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="iraltrabj3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (atarzapatos)
            {
                case "Nada":
                    <div id="atarselozapa0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="atarselozapa1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="atarselozapa2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="atarselozapa3">
                        X
                    </div>
                    break;
            }
        }
        
        <div id="desorden">
            @if(Model.relac2.BarreraTratamientoDesorden ==true)
            {
                <label>X</label>
            }
        </div>
        <div id="estres">
            @if (Model.relac2.BarreraTratamientoEstres == true)
            {
                <label>X</label>
            }
        </div>
        <div id="estadoanimo">
            @if (Model.relac2.BarreraTratamientoEstadoDeAnimo == true)
            {
                <label>X</label>
            }
        </div>
        @{
            switch (levantarsedesilla)
            {
                case "Nada":
                    <div id="levantdelasilla0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="levantdelasilla1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="levantdelasilla2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="levantdelasilla3">
                        X
                    </div>
                    break;
            }
        }
    
        <div id="horarios">
            @if (Model.relac2.BarreraTratamientoHorarios == true)
            {
                <label>X</label>
            }
        </div>
        @{
            switch (ridiculo)
            {
                case "Nada":
                    <div id="alridiculo0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="alridiculo1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="alridiculo2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="alridiculo3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (levardecama)
            {
                case "Nada":
                    <div id="levantdecam0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="levantdecam1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="levantdecam2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="levantdecam3">
                        X
                    </div>
                    break;
            }
        }
     
        <div id="vidasocial">
            @if (Model.relac2.BarreraTratamientoVidaSocial == true)
            {
                <label>X</label>
            }
        </div>
        <div id="trabajo">
            @if (Model.relac2.BarreraTratamientoTrabajo == true)
            {
                <label>X</label>
            }
        </div>
        <div id="motivacion">
            @if (Model.relac2.BarreraTratamientoMotivacion == true)
            {
                <label>X</label>
            }
        </div>
        <div id="familia">
            @if (Model.relac2.BarreraTratamientoFamilia == true)
            {
                <label>X</label>
            }
        </div>
        <div id="otradificultadpapu">
           @Model.relac3.OtraDif
        </div>
        @{
            switch (asiento)
            {
                case "Nada":
                    <div id="anoencontrar0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="anoencontrar1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="anoencontrar2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="anoencontrar3">
                        X
                    </div>
                    break;
            }
        }
        <div id="otrasbarrerascuales">
            @Model.relac2.BarreraTratamientoCual
        </div>
        <div id="otrasbarreras">
            @if (Model.relac2.BarreraTratamientoOtro== true)
            {
                <label>X</label>
            }
        </div>
        @{
            switch (pasillos)
            {
                case "Nada":
                    <div id="anopasarpasillos0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="anopasarpasillos1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="anopasarpasillos2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="anopasarpasillos3">
                        X
                    </div>
                    break;
            }
        }
        @{
            switch (sillas)
            {
                case "Nada":
                    <div id="anoentrarsillas0">
                        X
                    </div>
                    break;
                case "Algo":
                    <div id="anoentrarsillas1">
                        X
                    </div>
                    break;
                case "Bastante":
                    <div id="anoentrarsillas2">
                        X
                    </div>
                    break;
                case "Mucho":
                    <div id="anoentrarsillas3">
                        X
                    </div>
                    break;
            }
        }
    
   
        <div id="problempersonal">
            @if (Model.relac2.AbandonarTratamientoProblemasPersonales == true)
            {
                <label>X</label>
            }
        </div>
        <div id="vidsocial">
            @if (Model.relac2.AbandonarTratamientoVidaSocial == true)
            {
                <label>X</label>
            }
        </div>
        <div id="nomodifelpeso">
            @if (Model.relac2.AbandonarTratamientoNoModificarPeso == true)
            {
                <label>X</label>
            }
        </div>
        <div id="modificpoco">
            @if (Model.relac2.AbandonarTratamientoModificarloPoco == true)
            {
                <label>X</label>
            }
        </div>
        <div id="problemeconomicos">
            @if (Model.relac2.AbandonarTratamientoProblemasEconomicos == true)
            {
                <label>X</label>
            }
        </div>
        <div id="sentirsepresionao">
            @if (Model.relac2.AbandonarTratamientoSentirsePresionado == true)
            {
                <label>X</label>
            }
        </div>
        <div id="llevarsemal">
            @if (Model.relac2.AbandonarTratamientoLlevarseMalConElEquipo == true)
            {
                <label>X</label>
            }
        </div>
        <div id="aburrirse">
            @if (Model.relac2.AbandonarTratamientoAburrirseDeLaDieta == true)
            {
                <label>X</label>
            }
        </div>
        <div id="salirunavez">
            @if (Model.relac2.AbandonarTratamientoSalirUnaVezYAbandonar == true)
            {
                <label>X</label>
            }
        </div>
        <div id="pocoapoyo">
            @if (Model.relac2.AbandonarTratamientoPocoApoyoFamiliar == true)
            {
                <label>X</label>
            }
        </div>
        <div id="distanciaala">
            @if (Model.relac2.AbandonarTratamientoDistanciaALaQueVive == true)
            {
                <label>X</label>
            }
        </div>
        <div id="otrascosascuales">
           @Model.relac2.AbandonarTratamientoOtras
        </div>
        <div id="ansiedad">
            @if (Model.relac2.PesoActualAnsiedad == true)
            {
                <label>X</label>
            }
        </div>
        <div id="embarazzos">
            @if (Model.relac2.PesoActualEmbarazos == true)
            {
                <label>X</label>
            }
        </div>
        <div id="alimentacion">
            @if (Model.relac2.PesoActualAlimentacion == true)
            {
                <label>X</label>
            }
        </div>
        <div id="problmdesalud">
            @if (Model.relac2.PesoActualProblemasDeSalud == true)
            {
                <label>X</label>
            }
        </div>
        <div id="herencia">
            @if (Model.relac2.PesoActualHerencia == true)
            {
                <label>X</label>
            }
        </div>
        <div id="alcoholl">
            @if (Model.relac2.PesoActualAlcohol == true)
            {
                <label>X</label>
            }
        </div>
        <div id="estresss">
            @if (Model.relac2.PesoActualEstres == true)
            {
                <label>X</label>
            }
        </div>
        <div id="metabolismo">
            @if (Model.relac2.PesoActualMetabolismo == true)
            {
                <label>X</label>
            }
        </div>
        <div id="sedentarism">
            @if (Model.relac2.PesoActualSedentarismo == true)
            {
                <label>X</label>
            }
        </div>
        <div id="medicacation">
            @if (Model.relac2.PesoActualMedicacion == true)
            {
                <label>X</label>
            }
        </div>
        <div id="dejadefumanchar">
            @if (Model.relac2.PesoActualDejarDeFumar == true)
            {
                <label>X</label>
            }
        </div>
        <div id="otrossss">
            @if (Model.relac2.PesoActualOtros == true)
            {
                <label>X</label>
            }
        </div>
        <div id="depreemo">
            @if (Model.relac2.PesoActualDepresion == true)
            {
                <label>X</label>
            }
        </div>
        <div id="perdida">
            @if (Model.relac2.PesoActualPerdidas == true)
            {
                <label>X</label>
            }
        </div>
        <div id="mopause">
            @if (Model.relac2.PesoActualMenopausia == true)
            {
                <label>X</label>
            }
        </div>
        <div id="supesoalnac">
            @Model.relac2.PesoNacer
        </div>
        <div id="elmaximodeladult">
            @Model.relac2.MaximoAdulto
        </div>
        <div id="gordo8">
            
        </div>
        <div id="gordo9">
        </div>
        <div id="gordo7">
        </div>
        <div id="gordo1">
        </div>
        <div id="gordo2">
        </div>
        <div id="gordo3">
        </div>
        <div id="gordo4">
        </div>
        <div id="gordo6">
        </div>
        <div id="gordo5">
        </div>
        <div id="eldeseo">
            @Model.relac2.Deseado
        </div>
        <div id="elminim">
            @Model.relac2.Minimo
        </div>
        <div id="aquiedad">
            @Model.relac2.Edad
        </div>
        
        <div id="supesoestasubiendo">
            @if (Model.relac2.PesoEsta == "Subiendo")
            {
                <label>X</label>
            }
        </div>
        <div id="supesoestaestable">
            @if (Model.relac2.PesoEsta == "Estable")
            {
                <label>X</label>
            }
        </div>
        <div id="supesoestabajando">
            @if (Model.relac2.PesoEsta == "Bajando")
            {
                <label>X</label>
            }
        </div>
        <div id="algunpesocomodo">
            @Model.relac2.PesoComodo
        </div>
        <div id="gorda9">
        </div>
        <div id="gorda7">
        </div>
        <div id="gorda8">
        </div>
        <div id="gorda6">
        </div>
        <div id="gorda1">
        </div>
        <div id="gorda2">
        </div>
        <div id="gorda3">
        </div>
        <div id="gorda4">
        </div>
        <div id="gorda5">
        </div>
    </div>
    <!-- End Save for Web Slices -->
</body>
</html>