@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>hoja3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Save for Web Styles (hoja3.psd - Slices: deseacomentarnos3) -->
    <style type="text/css">
        <!--

        #Table_01 {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1014px;
            height: 717px;
            /*background-image: url(../../Content/Imagenes/Mapeo/3n.jpg);*/
        }

        #deseadejarcual1 {
            position: absolute;
            left: 653px;
            top: 62px;
            width: 338px;
            height: 14px;
        }

        #deseadejarno {
            position: absolute;
            left: 557px;
            top: 66px;
            width: 14px;
            height: 14px;
        }

        #deseadejarsi {
            position: absolute;
            left: 592px;
            top: 66px;
            width: 14px;
            height: 14px;
        }

        #deseadejarcual2 {
            position: absolute;
            left: 539px;
            top: 87px;
            width: 451px;
            height: 14px;
        }

        #vvive0 {
            position: absolute;
            left: 218px;
            top: 115px;
            width: 14px;
            height: 14px;
        }

        #vvive1 {
            position: absolute;
            left: 262px;
            top: 115px;
            width: 14px;
            height: 14px;
        }

        #vvive2 {
            position: absolute;
            left: 310px;
            top: 115px;
            width: 14px;
            height: 14px;
        }

        #vvive3 {
            position: absolute;
            left: 356px;
            top: 115px;
            width: 14px;
            height: 14px;
        }

        #vvive4 {
            position: absolute;
            left: 403px;
            top: 115px;
            width: 14px;
            height: 14px;
        }

        #vvive5 {
            position: absolute;
            left: 448px;
            top: 115px;
            width: 14px;
            height: 14px;
        }

        #tratamientopsiquino {
            position: absolute;
            left: 891px;
            top: 126px;
            width: 14px;
            height: 14px;
        }

        #tratamientopsiquisi {
            position: absolute;
            left: 925px;
            top: 126px;
            width: 14px;
            height: 14px;
        }

        #oobesida0 {
            position: absolute;
            left: 218px;
            top: 133px;
            width: 14px;
            height: 14px;
        }

        #oobesida1 {
            position: absolute;
            left: 262px;
            top: 133px;
            width: 14px;
            height: 14px;
        }

        #oobesida2 {
            position: absolute;
            left: 310px;
            top: 133px;
            width: 14px;
            height: 14px;
        }

        #oobesida3 {
            position: absolute;
            left: 356px;
            top: 133px;
            width: 14px;
            height: 14px;
        }

        #oobesida4 {
            position: absolute;
            left: 403px;
            top: 133px;
            width: 14px;
            height: 14px;
        }

        #oobesida5 {
            position: absolute;
            left: 448px;
            top: 133px;
            width: 14px;
            height: 14px;
        }

        #psiquicausa {
            position: absolute;
            left: 721px;
            top: 141px;
            width: 270px;
            height: 14px;
        }

        #diabete0 {
            position: absolute;
            left: 218px;
            top: 152px;
            width: 14px;
            height: 14px;
        }

        #diabete1 {
            position: absolute;
            left: 262px;
            top: 152px;
            width: 14px;
            height: 14px;
        }

        #diabete2 {
            position: absolute;
            left: 310px;
            top: 152px;
            width: 14px;
            height: 14px;
        }

        #diabete3 {
            position: absolute;
            left: 356px;
            top: 152px;
            width: 14px;
            height: 14px;
        }

        #diabete4 {
            position: absolute;
            left: 403px;
            top: 152px;
            width: 14px;
            height: 14px;
        }

        #diabete5 {
            position: absolute;
            left: 448px;
            top: 152px;
            width: 14px;
            height: 14px;
        }

        #fechacomientzo {
            position: absolute;
            left: 658px;
            top: 168px;
            width: 58px;
            height: 14px;
        }

        #duratzcion {
            position: absolute;
            left: 929px;
            top: 168px;
            width: 57px;
            height: 14px;
        }

        #coleste0 {
            position: absolute;
            left: 218px;
            top: 170px;
            width: 14px;
            height: 14px;
        }

        #coleste1 {
            position: absolute;
            left: 262px;
            top: 170px;
            width: 14px;
            height: 14px;
        }

        #coleste2 {
            position: absolute;
            left: 310px;
            top: 170px;
            width: 14px;
            height: 14px;
        }

        #coleste3 {
            position: absolute;
            left: 356px;
            top: 170px;
            width: 14px;
            height: 14px;
        }

        #coleste4 {
            position: absolute;
            left: 403px;
            top: 170px;
            width: 14px;
            height: 14px;
        }

        #coleste5 {
            position: absolute;
            left: 448px;
            top: 170px;
            width: 14px;
            height: 14px;
        }

        #trigliceridos0 {
            position: absolute;
            left: 218px;
            top: 189px;
            width: 14px;
            height: 14px;
        }

        #trigliceridos1 {
            position: absolute;
            left: 262px;
            top: 189px;
            width: 14px;
            height: 14px;
        }

        #trigliceridos2 {
            position: absolute;
            left: 311px;
            top: 189px;
            width: 14px;
            height: 14px;
        }

        #trigliceridos3 {
            position: absolute;
            left: 356px;
            top: 189px;
            width: 14px;
            height: 14px;
        }

        #trigliceridos4 {
            position: absolute;
            left: 403px;
            top: 189px;
            width: 14px;
            height: 14px;
        }

        #trigliceridos5 {
            position: absolute;
            left: 448px;
            top: 189px;
            width: 14px;
            height: 14px;
        }

        #ecardiaca0 {
            position: absolute;
            left: 218px;
            top: 208px;
            width: 14px;
            height: 14px;
        }

        #ecardiaca1 {
            position: absolute;
            left: 262px;
            top: 208px;
            width: 14px;
            height: 14px;
        }

        #ecardiaca2 {
            position: absolute;
            left: 311px;
            top: 208px;
            width: 14px;
            height: 14px;
        }

        #ecardiaca3 {
            position: absolute;
            left: 357px;
            top: 208px;
            width: 14px;
            height: 14px;
        }

        #ecardiaca4 {
            position: absolute;
            left: 403px;
            top: 208px;
            width: 14px;
            height: 14px;
        }

        #ecardiaca5 {
            position: absolute;
            left: 448px;
            top: 208px;
            width: 14px;
            height: 14px;
        }

        #edadprimenstru {
            position: absolute;
            left: 745px;
            top: 223px;
            width: 46px;
            height: 14px;
        }

        #cadacuanmenstru {
            position: absolute;
            left: 936px;
            top: 224px;
            width: 47px;
            height: 14px;
        }

        #derramecereb0 {
            position: absolute;
            left: 218px;
            top: 225px;
            width: 14px;
            height: 14px;
        }

        #derramecereb1 {
            position: absolute;
            left: 262px;
            top: 225px;
            width: 14px;
            height: 14px;
        }

        #derramecereb2 {
            position: absolute;
            left: 311px;
            top: 225px;
            width: 14px;
            height: 14px;
        }

        #derramecereb3 {
            position: absolute;
            left: 357px;
            top: 225px;
            width: 14px;
            height: 14px;
        }

        #derramecereb4 {
            position: absolute;
            left: 403px;
            top: 225px;
            width: 14px;
            height: 14px;
        }

        #derramecereb5 {
            position: absolute;
            left: 448px;
            top: 225px;
            width: 14px;
            height: 14px;
        }

        #hiperten0 {
            position: absolute;
            left: 218px;
            top: 245px;
            width: 14px;
            height: 14px;
        }

        #hiperten1 {
            position: absolute;
            left: 262px;
            top: 245px;
            width: 14px;
            height: 14px;
        }

        #hiperten2 {
            position: absolute;
            left: 311px;
            top: 245px;
            width: 14px;
            height: 14px;
        }

        #hiperten3 {
            position: absolute;
            left: 358px;
            top: 245px;
            width: 14px;
            height: 14px;
        }

        #hiperten4 {
            position: absolute;
            left: 403px;
            top: 245px;
            width: 14px;
            height: 14px;
        }

        #hiperten5 {
            position: absolute;
            left: 449px;
            top: 245px;
            width: 14px;
            height: 14px;
        }

        #fechultimamenstru {
            position: absolute;
            left: 716px;
            top: 250px;
            width: 89px;
            height: 14px;
        }

        #muertesub0 {
            position: absolute;
            left: 218px;
            top: 264px;
            width: 14px;
            height: 14px;
        }

        #muertesub1 {
            position: absolute;
            left: 263px;
            top: 264px;
            width: 14px;
            height: 14px;
        }

        #muertesub2 {
            position: absolute;
            left: 311px;
            top: 264px;
            width: 14px;
            height: 14px;
        }

        #muertesub3 {
            position: absolute;
            left: 359px;
            top: 264px;
            width: 14px;
            height: 14px;
        }

        #muertesub4 {
            position: absolute;
            left: 404px;
            top: 264px;
            width: 14px;
            height: 14px;
        }

        #muertesub5 {
            position: absolute;
            left: 450px;
            top: 264px;
            width: 14px;
            height: 14px;
        }

        #embarazadano {
            position: absolute;
            left: 654px;
            top: 275px;
            width: 14px;
            height: 14px;
        }

        #embarazadasi {
            position: absolute;
            left: 695px;
            top: 275px;
            width: 14px;
            height: 14px;
        }

        #tiempomeses {
            position: absolute;
            left: 798px;
            top: 276px;
            width: 60px;
            height: 14px;
        }

        #caaancerdeque- {
            position: absolute;
            left: 123px;
            top: 282px;
            width: 76px;
            height: 14px;
        }

        #caaancer0 {
            position: absolute;
            left: 218px;
            top: 282px;
            width: 14px;
            height: 14px;
        }

        #caaancer1 {
            position: absolute;
            left: 262px;
            top: 282px;
            width: 14px;
            height: 14px;
        }

        #caaancer2 {
            position: absolute;
            left: 310px;
            top: 282px;
            width: 14px;
            height: 14px;
        }

        #caaancer3 {
            position: absolute;
            left: 359px;
            top: 282px;
            width: 14px;
            height: 14px;
        }

        #caaancer4 {
            position: absolute;
            left: 404px;
            top: 282px;
            width: 14px;
            height: 14px;
        }

        #caaancer5 {
            position: absolute;
            left: 450px;
            top: 282px;
            width: 14px;
            height: 14px;
        }

        #anticoncual {
            position: absolute;
            left: 860px;
            top: 297px;
            width: 126px;
            height: 14px;
        }

        #depreemosion0 {
            position: absolute;
            left: 218px;
            top: 300px;
            width: 14px;
            height: 14px;
        }

        #depreemosion1 {
            position: absolute;
            left: 262px;
            top: 300px;
            width: 14px;
            height: 14px;
        }

        #depreemosion2 {
            position: absolute;
            left: 310px;
            top: 300px;
            width: 14px;
            height: 14px;
        }

        #depreemosion3 {
            position: absolute;
            left: 359px;
            top: 300px;
            width: 14px;
            height: 14px;
        }

        #depreemosion4 {
            position: absolute;
            left: 404px;
            top: 300px;
            width: 14px;
            height: 14px;
        }

        #depreemosion5 {
            position: absolute;
            left: 450px;
            top: 300px;
            width: 14px;
            height: 14px;
        }

        #anticoncepno {
            position: absolute;
            left: 746px;
            top: 303px;
            width: 14px;
            height: 14px;
        }

        #anticoncepsi {
            position: absolute;
            left: 787px;
            top: 303px;
            width: 14px;
            height: 14px;
        }

        #excesivapreocupa0 {
            position: absolute;
            left: 218px;
            top: 324px;
            width: 14px;
            height: 14px;
        }

        #excesivapreocupa1 {
            position: absolute;
            left: 262px;
            top: 324px;
            width: 14px;
            height: 14px;
        }

        #excesivapreocupa2 {
            position: absolute;
            left: 311px;
            top: 324px;
            width: 14px;
            height: 14px;
        }

        #excesivapreocupa3 {
            position: absolute;
            left: 360px;
            top: 324px;
            width: 14px;
            height: 14px;
        }

        #excesivapreocupa4 {
            position: absolute;
            left: 404px;
            top: 324px;
            width: 14px;
            height: 14px;
        }

        #excesivapreocupa5 {
            position: absolute;
            left: 450px;
            top: 324px;
            width: 14px;
            height: 14px;
        }

        #cuandopaapnicolaou {
            position: absolute;
            left: 773px;
            top: 329px;
            width: 70px;
            height: 14px;
        }

        #problemasdelmarulo0 {
            position: absolute;
            left: 218px;
            top: 353px;
            width: 14px;
            height: 14px;
        }

        #problemasdelmarulo1 {
            position: absolute;
            left: 262px;
            top: 353px;
            width: 14px;
            height: 14px;
        }

        #problemasdelmarulo2 {
            position: absolute;
            left: 311px;
            top: 353px;
            width: 14px;
            height: 14px;
        }

        #problemasdelmarulo3 {
            position: absolute;
            left: 360px;
            top: 353px;
            width: 14px;
            height: 14px;
        }

        #problemasdelmarulo4 {
            position: absolute;
            left: 404px;
            top: 353px;
            width: 14px;
            height: 14px;
        }

        #problemasdelmarulo5 {
            position: absolute;
            left: 450px;
            top: 353px;
            width: 14px;
            height: 14px;
        }

        #doloresanimicosno {
            position: absolute;
            left: 864px;
            top: 355px;
            width: 14px;
            height: 14px;
        }

        #doloresanimicossi {
            position: absolute;
            left: 906px;
            top: 355px;
            width: 14px;
            height: 14px;
        }

        #problemasdelmarulocuales {
            position: absolute;
            left: 29px;
            top: 358px;
            width: 173px;
            height: 14px;
        }

        #problemasconeljuego0 {
            position: absolute;
            left: 218px;
            top: 383px;
            width: 14px;
            height: 14px;
        }

        #problemasconeljuego1 {
            position: absolute;
            left: 262px;
            top: 383px;
            width: 14px;
            height: 14px;
        }

        #problemasconeljuego2 {
            position: absolute;
            left: 311px;
            top: 383px;
            width: 14px;
            height: 14px;
        }

        #problemasconeljuego3 {
            position: absolute;
            left: 360px;
            top: 383px;
            width: 14px;
            height: 14px;
        }

        #problemasconeljuego4 {
            position: absolute;
            left: 404px;
            top: 383px;
            width: 14px;
            height: 14px;
        }

        #problemasconeljuego5 {
            position: absolute;
            left: 450px;
            top: 383px;
            width: 14px;
            height: 14px;
        }

        #doloresbultosno {
            position: absolute;
            left: 726px;
            top: 384px;
            width: 14px;
            height: 14px;
        }

        #doloresbultossi {
            position: absolute;
            left: 768px;
            top: 384px;
            width: 14px;
            height: 14px;
        }

        #ultimamamo {
            position: absolute;
            left: 762px;
            top: 405px;
            width: 221px;
            height: 14px;
        }

        #alguienmurio60no {
            position: absolute;
            left: 309px;
            top: 420px;
            width: 14px;
            height: 14px;
        }

        #alguienmurio60si {
            position: absolute;
            left: 366px;
            top: 420px;
            width: 15px;
            height: 14px;
        }

        #conquefrecsedepila {
            position: absolute;
            left: 892px;
            top: 430px;
            width: 91px;
            height: 14px;
        }

        #aumentovellono {
            position: absolute;
            left: 654px;
            top: 433px;
            width: 14px;
            height: 14px;
        }

        #aumentoelvellosi {
            position: absolute;
            left: 696px;
            top: 433px;
            width: 14px;
            height: 14px;
        }

        #alguienmurioquien {
            position: absolute;
            left: 99px;
            top: 437px;
            width: 147px;
            height: 14px;
        }

        #alguienmuriocausa {
            position: absolute;
            left: 332px;
            top: 437px;
            width: 145px;
            height: 14px;
        }

        #ultimoexamenprost {
            position: absolute;
            left: 807px;
            top: 474px;
            width: 176px;
            height: 14px;
        }

        #salud6meses {
            position: absolute;
            left: 399px;
            top: 490px;
            width: 55px;
            height: 14px;
        }

        #analisisdeantigeno {
            position: absolute;
            left: 807px;
            top: 493px;
            width: 176px;
            height: 14px;
        }

        #estudiodelcolonno {
            position: absolute;
            left: 797px;
            top: 547px;
            width: 14px;
            height: 14px;
        }

        #estudiodelcolonsi {
            position: absolute;
            left: 832px;
            top: 547px;
            width: 14px;
            height: 14px;
        }

        #enfermedadesimportantes {
            position: absolute;
            left: 29px;
            top: 553px;
            width: 463px;
            height: 14px;
        }

        #tomoalgunamedica {
            position: absolute;
            left: 29px;
            top: 596px;
            width: 463px;
            height: 14px;
        }

        #deseacomentarnos1 {
            position: absolute;
            left: 546px;
            top: 607px;
            width: 450px;
            height: 14px;
        }

        #deseacomentarnos2 {
            position: absolute;
            left: 545px;
            top: 633px;
            width: 451px;
            height: 14px;
        }

        #estatomandoactcuales1 {
            position: absolute;
            left: 158px;
            top: 634px;
            width: 334px;
            height: 14px;
        }

        #estatomandoactno {
            position: absolute;
            left: 51px;
            top: 637px;
            width: 14px;
            height: 14px;
        }

        #estatomandoactnosi {
            position: absolute;
            left: 85px;
            top: 637px;
            width: 14px;
            height: 14px;
        }

        #estatomandoactcuales2 {
            position: absolute;
            left: 29px;
            top: 656px;
            width: 463px;
            height: 14px;
        }

        #deseacomentarnos3 {
            position: absolute;
            left: 545px;
            top: 660px;
            width: 451px;
            height: 14px;
        }

        p {
            display: inline;
            font-family: arial;
            font-size: 14px;
        }

        -->
    </style>
    <!-- End Save for Web Styles -->
</head>
<body style="background-color:#FFFFFF; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px;">
<!-- Save for Web Slices (hoja3.psd - Slices: deseacomentarnos3) -->
    <img src="../../Content/Imagenes/Mapeo/3n.jpg" width="88%" alt="Alternate Text" />
    <div id="Table_01">
        <div id="deseadejarcual1">
            @Model.suestado.DejariaMedicacion
        </div>
        <div id="deseadejarno">
            <div id="deseadejarsi">
                @if (Model.suestado.RadioDejariaMedicacion == "No")
                {
                     <label>X</label>
                }
                </div>
        </div>
        <div id="deseadejarsi">
            @if (Model.suestado.RadioDejariaMedicacion == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="deseadejarcual2">
        </div>
        <div id="vvive0">
            @if(Model.antec.VivePadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="vvive1">
            @if (Model.antec.ViveMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="vvive2">
            @if (Model.antec.ViveAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="vvive3">
            @if (Model.antec.ViveConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="vvive4">
            @if (Model.antec.ViveHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="vvive5">
            @if (Model.antec.ViveHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="tratamientopsiquino">
            @if (Model.suestado.RadioTratamientoPs == "No")
            {
                <label>X</label>
            }
        </div>
        <div id="tratamientopsiquisi">
            @if (Model.suestado.RadioTratamientoPs == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="oobesida0">
            @if (Model.antec.ObesidadPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="oobesida1">
            @if (Model.antec.ObesidadMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="oobesida2">
            @if (Model.antec.ObesidadAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="oobesida3">
            @if (Model.antec.ObesidadConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="oobesida4">
            @if (Model.antec.ObesidadHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="oobesida5">
            @if (Model.antec.ObesidadHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="psiquicausa">
            @Model.suestado.CausaTratamientoPs
        </div>
        <div id="diabete0">
            @if (Model.antec.DiabetesPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="diabete1">
            @if (Model.antec.DiabetesMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="diabete2">
            @if (Model.antec.DiabetesAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="diabete3">
            @if (Model.antec.DiabetesConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="diabete4">
            @if (Model.antec.DiabetesHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="diabete5">
            @if (Model.antec.DiabetesHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="fechacomientzo">
            @Model.suestado.DuracionTratamientoPs
        </div>
        <div id="duratzcion">
        </div>
        <div id="coleste0">
            @if (Model.antec.ColesterolPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="coleste1">
            @if (Model.antec.ColesterolMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="coleste2">
            @if (Model.antec.ColesterolAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="coleste3">
            @if (Model.antec.ColesterolConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="coleste4">
            @if (Model.antec.ColesterolHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="coleste5">
            @if (Model.antec.ColesterolHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="trigliceridos0">
            @if (Model.antec.TrigliceridosPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="trigliceridos1">
            @if (Model.antec.TrigliceridosMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="trigliceridos2">
            @if (Model.antec.TrigliceridosAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="trigliceridos3">
            @if (Model.antec.TrigliceridosConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="trigliceridos4">
            @if (Model.antec.TrigliceridosHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="trigliceridos5">
            @if (Model.antec.TrigliceridosHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="ecardiaca0">
            @if (Model.antec.CardiacaPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="ecardiaca1">
            @if (Model.antec.CardiacaMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="ecardiaca2">
            @if (Model.antec.CardiacaAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="ecardiaca3">
            @if (Model.antec.CardiacaConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="ecardiaca4">
            @if (Model.antec.CardiacaHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="ecardiaca5">
            @if (Model.antec.CardiacaHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="edadprimenstru">
            @Model.suestado.PrimerM
        </div>
        <div id="cadacuanmenstru">
            @Model.suestado.Ciclo
        </div>
        <div id="derramecereb0">
            @if (Model.antec.DerramePadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="derramecereb1">
            @if (Model.antec.DerrameMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="derramecereb2">
            @if (Model.antec.DerrameAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="derramecereb3">
            @if (Model.antec.DerrameConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="derramecereb4">
            @if (Model.antec.DerrameHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="derramecereb5">
            @if (Model.antec.DerrameHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="hiperten0">
            @if (Model.antec.HipertensionPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="hiperten1">
            @if (Model.antec.HipertensionMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="hiperten2">
            @if (Model.antec.HipertensionAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="hiperten3">
            @if (Model.antec.HipertensionConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="hiperten4">
            @if (Model.antec.HipertensionHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="hiperten5">
            @if (Model.antec.HipertensionHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="fechultimamenstru">
            @Model.suestado.UltimaM
        </div>
        <div id="muertesub0">
            @if (Model.antec.SubitaPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="muertesub1">
            @if (Model.antec.SubitaMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="muertesub2">
            @if (Model.antec.SubitaAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="muertesub3">
            @if (Model.antec.SubitaConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="muertesub4">
            @if (Model.antec.SubitaHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="muertesub5">
            @if (Model.antec.SubitaHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="embarazadano">
            @if (Model.suestado.RadioEmbarazada == "No")
            {
                <label>X</label>
            }
        </div>
        <div id="embarazadasi">
            @if (Model.suestado.RadioEmbarazada == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="tiempomeses">
            @Model.suestado.TiempoEmbarazo
        </div>
        <div id="caaancerdeque-">
            @Model.antec.TipoCancer
        </div>
        <div id="caaancer0">
            @if (Model.antec.CancerPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="caaancer1">
            @if (Model.antec.CancerMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="caaancer2">
            @if (Model.antec.CancerAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="caaancer3">
            @if (Model.antec.CancerConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="caaancer4">
            @if (Model.antec.CancerHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="caaancer5">
            @if (Model.antec.CancerHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="anticoncual">
            @Model.suestado.MetodoUsado
        </div>
        <div id="depreemosion0">
            @if (Model.antec.DepresionPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="depreemosion1">
            @if (Model.antec.DepresionMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="depreemosion2">
            @if (Model.antec.DepresionAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="depreemosion3">
            @if (Model.antec.DepresionConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="depreemosion4">
            @if (Model.antec.DepresionHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="depreemosion5">
            @if (Model.antec.DepresionHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="anticoncepno">
            @if (Model.suestado.RadioAnticonceptivo == "No")
            {
                <label>X</label>
            }
        </div>
        <div id="anticoncepsi">
            @if (Model.suestado.RadioAnticonceptivo == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="excesivapreocupa0">
            @if (Model.antec.PreocupacionPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="excesivapreocupa1">
            @if (Model.antec.PreocupacionMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="excesivapreocupa2">
            @if (Model.antec.PreocupacionAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="excesivapreocupa3">
            @if (Model.antec.PreocupacionConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="excesivapreocupa4">
            @if (Model.antec.PreocupacionHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="excesivapreocupa5">
            @if (Model.antec.PreocupacionHijos== "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="cuandopaapnicolaou">
            @Model.suestado.FechaUltimoP
        </div>
        <div id="problemasdelmarulo0">
            @if (Model.antec.PsicologicosPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasdelmarulo1">
            @if (Model.antec.PsicologicosMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasdelmarulo2">
            @if (Model.antec.PsicologicosAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasdelmarulo3">
            @if (Model.antec.PsicologicosConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasdelmarulo4">
            @if (Model.antec.PsicologicosHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasdelmarulo5">
            @if (Model.antec.PsicologicosHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="doloresanimicosno">
            @if (Model.suestado.RadioEstadoAnimico == "No")
            {
                <label>X</label>
            }
        </div>
        <div id="doloresanimicossi">
            @if (Model.suestado.RadioEstadoAnimico == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasdelmarulocuales">
        </div>
        <div id="problemasconeljuego0">
            @if (Model.antec.DrogasPadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasconeljuego1">
            @if (Model.antec.DrogasMadre == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasconeljuego2">
            @if (Model.antec.DrogasAbuelos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasconeljuego3">
            @if (Model.antec.DrogasConyuge == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasconeljuego4">
            @if (Model.antec.DrogasHnos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="problemasconeljuego5">
            @if (Model.antec.DrogasHijos == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="doloresbultosno">
            @if (Model.suestado.RadioDolores == "No")
            {
                <label>X</label>
            }
        </div>
        <div id="doloresbultossi">
            @if (Model.suestado.RadioDolores == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="ultimamamo">
            @Model.suestado.FechaUltimaM
        </div>
        <div id="alguienmurio60no">
            @if (Model.antec.FamiliaMenos60 == "No")
            {
                <label>X</label>
            }
        </div>
        <div id="alguienmurio60si">
            @if (Model.antec.FamiliaMenos60 == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="conquefrecsedepila">
            @Model.suestado.FrecuenciaDep
        </div>
        <div id="aumentovellono">
            @if (Model.suestado.RadioVello == "No")
            {
                <label>X</label>
            }
        </div>
        <div id="aumentoelvellosi">
            @if (Model.suestado.RadioVello == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="alguienmurioquien">
            @Model.antec.QuienMenos60
        </div>
        <div id="alguienmuriocausa">
            @Model.antec.CausaMenos60
        </div>
        <div id="ultimoexamenprost">
            @Model.suestado.UltimoExamenPros
        </div>
        <div id="salud6meses">
            @Model.antec.SaludPeriodo
        </div>
        <div id="analisisdeantigeno">
            @Model.suestado.Antigeno
        </div>
        <div id="estudiodelcolonno">
            @if (Model.suestado.RadioColon == "No")
            {
                <label>X</label>
            }
        </div>
        <div id="estudiodelcolonsi">
            @if (Model.suestado.RadioColon == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="enfermedadesimportantes">
            @Model.antec.TuvoIntervenciones
        </div>
        <div id="tomoalgunamedica">
            @Model.antec.MedicacionTomada
        </div>
        <div id="deseacomentarnos1">
            @Model.suestado.ComentarEstudio
        </div>
        <div id="deseacomentarnos2">
        </div>
        <div id="estatomandoactcuales1">
            @Model.antec.MedicacionActual
        </div>
        <div id="estatomandoactno">
            @if (Model.antec.RadioMedicacionActual == "No")
            {
                <label>X</label>
            }
        </div>
        <div id="estatomandoactnosi">
            @if (Model.antec.RadioMedicacionActual == "Si")
            {
                <label>X</label>
            }
        </div>
        <div id="estatomandoactcuales2">
        </div>
        <div id="deseacomentarnos3">

        </div>
    </div>
    <!-- End Save for Web Slices -->
</body>
</html>